In [50]:
import pandas as pd
import numpy as np
import requests
import math
import datetime

# Function get_time_distance and get_nearest_taxi_stand

In [134]:
# only for 3 days, need to generate again
ONEMAP_API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjgyNjgsInVzZXJfaWQiOjgyNjgsImVtYWlsIjoianByYW1vbm8wMUBnbWFpbC5jb20iLCJmb3JldmVyIjpmYWxzZSwiaXNzIjoiaHR0cDpcL1wvb20yLmRmZS5vbmVtYXAuc2dcL2FwaVwvdjJcL3VzZXJcL3Nlc3Npb24iLCJpYXQiOjE2Mzk3MzA4OTAsImV4cCI6MTY0MDE2Mjg5MCwibmJmIjoxNjM5NzMwODkwLCJqdGkiOiJiMmNiZjk2ZTE0NmNmMjZjYzdmMGMyMTIwYWUyYWM2NCJ9.X3kCImlS9jyAz2d0G_I2QK9Z5P0QTRnDoLoWcrtBLcA"
LAT_1KM = 5/110
LON_1KM = 5/111.320*math.cos(1.3)

In [9]:
def get_time_distance(start_lat, start_lon, end_lat, end_lon):
    start = str(start_lat)+','+str(start_lon)
    end = str(end_lat)+','+str(end_lon)
    url = "https://developers.onemap.sg/privateapi/routingsvc/route"
    params = {"start" : start,
             "end": end,
             "routeType" : "drive",
             "token": ONEMAP_API_TOKEN}
    r = requests.get(url=url, params=params)
    total_distance = round(r.json()["route_summary"]["total_distance"]/1000,2) # in km
    total_time = round(r.json()["route_summary"]["total_time"]/60,2) # in mins
    return (total_time, total_distance)

In [10]:
get_time_distance(1.319728,103.8421,1.326762,103.8559)

(7.47, 3.06)

In [27]:
start_lat = 1.319728
start_lon = 103.8421

In [48]:
end = {"lat" : [(1.326762 + i*0.0091) for i in range(5)],
       "lon" : [(103.8559 + i*0.0024) for i in range(5)]}
end_df = pd.DataFrame(end)
end_df

        lat       lon
0  1.326762  103.8559
1  1.335862  103.8583
2  1.344962  103.8607
3  1.354062  103.8631
4  1.363162  103.8655

In [25]:
def get_nearest_taxi_stand(taxi_lat, taxi_lon, stand_df, top=5):
    stand_df["total_distance"] = stand_df.apply(lambda x : get_time_distance(start_lat, start_lon, 
                                                                             x["lat"], x["lon"])[1], axis = 1)
    stand_df = stand_df.sort_values(by="total_distance", ascending=False).reset_index(drop=True)
    return stand_df.iloc[:top]

In [49]:
get_nearest_taxi_stand(start_lat, start_lon, end_df, top=3)

        lat       lon  total_distance
0  1.363162  103.8655            8.53
1  1.354062  103.8631            7.38
2  1.344962  103.8607            5.00

# ETL for GCP

In [37]:
taxi_url = "https://api.data.gov.sg/v1/transport/taxi-availability"
r = requests.get(taxi_url)
coordinates = r.json()["features"][0]["geometry"]["coordinates"]
timestamp = r.json()["features"][0]["properties"]["timestamp"]

In [137]:
taxi_available = pd.DataFrame(np.array(coordinates), columns=[["lon","lat"]])
taxi_available["update_time"] = str(datetime.datetime.strptime(timestamp,"%Y-%m-%dT%H:%M:%S+08:00"))
taxi_available

             lon       lat          update_time
0     103.658680  1.320300  2021-12-17 17:53:23
1     103.669150  1.312010  2021-12-17 17:53:23
2     103.673300  1.308980  2021-12-17 17:53:23
3     103.678860  1.313180  2021-12-17 17:53:23
4     103.679490  1.267450  2021-12-17 17:53:23
...          ...       ...                  ...
1613  103.988970  1.361400  2021-12-17 17:53:23
1614  103.989578  1.360966  2021-12-17 17:53:23
1615  103.989600  1.361160  2021-12-17 17:53:23
1616  103.999330  1.385930  2021-12-17 17:53:23
1617  104.003500  1.374410  2021-12-17 17:53:23

[1618 rows x 3 columns]