In [1]:
import pandas as pd
import numpy as np
import requests
import math
import datetime

from google.cloud import bigquery, storage

# Function get_time_distance and get_nearest_taxi_stand

In [2]:
# only for 3 days, need to generate again
ONEMAP_API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjgyNjgsInVzZXJfaWQiOjgyNjgsImVtYWlsIjoianByYW1vbm8wMUBnbWFpbC5jb20iLCJmb3JldmVyIjpmYWxzZSwiaXNzIjoiaHR0cDpcL1wvb20yLmRmZS5vbmVtYXAuc2dcL2FwaVwvdjJcL3VzZXJcL3Nlc3Npb24iLCJpYXQiOjE2Mzk3MzA4OTAsImV4cCI6MTY0MDE2Mjg5MCwibmJmIjoxNjM5NzMwODkwLCJqdGkiOiJiMmNiZjk2ZTE0NmNmMjZjYzdmMGMyMTIwYWUyYWM2NCJ9.X3kCImlS9jyAz2d0G_I2QK9Z5P0QTRnDoLoWcrtBLcA"
LAT_1KM = 5/110
LON_1KM = 5/111.320*math.cos(1.3)

In [9]:
def get_time_distance(start_lat, start_lon, end_lat, end_lon):
    start = str(start_lat)+','+str(start_lon)
    end = str(end_lat)+','+str(end_lon)
    url = "https://developers.onemap.sg/privateapi/routingsvc/route"
    params = {"start" : start,
             "end": end,
             "routeType" : "drive",
             "token": ONEMAP_API_TOKEN}
    r = requests.get(url=url, params=params)
    total_distance = round(r.json()["route_summary"]["total_distance"]/1000,2) # in km
    total_time = round(r.json()["route_summary"]["total_time"]/60,2) # in mins
    return (total_time, total_distance)

In [30]:
def get_planning_area_loc (lat, lon):
    get_pln_loc_url = "https://developers.onemap.sg/privateapi/popapi/getPlanningarea"
    params = {'token':ONEMAP_API_TOKEN, 'lat': lat, 'lng': lon}
    response = requests.get(get_pln_loc_url, params = params)
    if response.status_code != 200:
        raise ValueError
    pln_area_loc = response.json()
    return pln_area_loc[0]['pln_area_n']
get_planning_area_loc(1.319728,103.8421)

'NOVENA'

In [10]:
get_time_distance(1.319728,103.8421,1.326762,103.8559)

(7.47, 3.06)

In [27]:
start_lat = 1.319728
start_lon = 103.8421

In [48]:
end = {"lat" : [(1.326762 + i*0.0091) for i in range(5)],
       "lon" : [(103.8559 + i*0.0024) for i in range(5)]}
end_df = pd.DataFrame(end)
end_df

        lat       lon
0  1.326762  103.8559
1  1.335862  103.8583
2  1.344962  103.8607
3  1.354062  103.8631
4  1.363162  103.8655

In [25]:
def get_nearest_taxi_stand(taxi_lat, taxi_lon, stand_df, top=5):
    stand_df["total_distance"] = stand_df.apply(lambda x : get_time_distance(start_lat, start_lon, 
                                                                             x["lat"], x["lon"])[1], axis = 1)
    stand_df = stand_df.sort_values(by="total_distance", ascending=False).reset_index(drop=True)
    return stand_df.iloc[:top]

In [49]:
get_nearest_taxi_stand(start_lat, start_lon, end_df, top=3)

        lat       lon  total_distance
0  1.363162  103.8655            8.53
1  1.354062  103.8631            7.38
2  1.344962  103.8607            5.00

# ETL for GCP

## parse taxi availability data

In [2]:
taxi_url = "https://api.data.gov.sg/v1/transport/taxi-availability"
r = requests.get(taxi_url)
coordinates = r.json()["features"][0]["geometry"]["coordinates"]
timestamp = r.json()["features"][0]["properties"]["timestamp"]
taxi_available = pd.DataFrame(np.array(coordinates), columns=["lon","lat"])
taxi_available["update_time"] = str(datetime.datetime.strptime(timestamp,"%Y-%m-%dT%H:%M:%S+08:00"))
len(taxi_available), len(taxi_available.dropna())

KeyError: 'features'

In [52]:
time = datetime.datetime.now() + datetime.timedelta(hours=8)
rows = 0
dataset = []
while True:
    uri = f'http://datamall2.mytransport.sg/ltaodataservice/Taxi-Availability?$skip={rows}'
    headers = { 'AccountKey' : 'BehS/IpVR0KOFQ+BgFqM5g==',
    'accept' : 'application/json'} #this is by default
    # requests.get(url=uri, headers=headers).json()
    if len(requests.get(url=uri, headers=headers).json()["value"]) == 0:
        break
    dataset = dataset + requests.get(url=uri, headers=headers).json()["value"]
    rows += 500
taxi_available = pd.DataFrame(dataset).rename(columns={"Longitude": "lon", "Latitude": "lat"})
taxi_available["update_time"] = time.strftime("%Y-%m-%d %H:%M:%S")
taxi_available.head()

         lon      lat          update_time
0  103.84585  1.29118  2021-12-29 03:52:15
1  103.76713  1.31342  2021-12-29 03:52:15
2  103.80222  1.43747  2021-12-29 03:52:15
3  103.81067  1.27713  2021-12-29 03:52:15
4  103.81448  1.32908  2021-12-29 03:52:15

In [51]:
time.strftime("%Y-%m-%d %H:%M:%S")

'2021-12-28 19:37:02'

In [47]:
taxi_available.columns

Index(['lon', 'lat', 'update_time'], dtype='object')

## parse rainfall data

In [24]:
def parse_rainfall_data(request):
    '''
    This function calls the rainfall API
    and parses it into a dataframe.
    Available columns are id, lat, lon, value and timestamp
    
    value represents rainfall, where 0 is no rain.
    '''
    gov = 'https://api.data.gov.sg/v1'
    weather_api = '/environment/rainfall'

    url = gov+weather_api
    response = requests.get(url).json()

    timestamp_str = response['items'][0]['timestamp']
    timestamp = str(datetime.datetime.strptime(timestamp_str, '%Y-%m-%dT%H:%M:%S+08:00'))
    weather_list = []
    for index,value in enumerate(response['items'][0]['readings']):
        weather_list.append(
            {'station_id':response['metadata']['stations'][index]['id'], 
             'station_lat':response['metadata']['stations'][index]['location']['latitude'],
             'station_lon':response['metadata']['stations'][index]['location']['longitude'],
             'rainfall':float(response['items'][0]['readings'][index]['value']),
             'update_time': timestamp})
        
    weather_df = pd.DataFrame(weather_list)
    
    client = bigquery.Client(project='taxi-compass-lewagon')
    table_id = 'api_dataset.h_weather_rainfall'
    
    job = client.load_table_from_dataframe(
        weather_df, table_id
    )

    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
    return ("Done!", 200)

# Data Collection - Public Transport Operating API

Fields required:
1) Timestamp  
2) All station codes  
3) lat/lon  
4) Operating hours  
5) Operating or not (Boolean)  
6) Disrupted or not (Boolean)  

Pull from Train Service Alerts API

In [2]:
url = "http://datamall2.mytransport.sg/ltaodataservice/TrainServiceAlerts"
DATA_MALL_API_ACC = "BehS/IpVR0KOFQ+BgFqM5g=="

headers = {"AccountKey" : DATA_MALL_API_ACC}

r = requests.get(url = url, headers=headers)
r.json()

{'odata.metadata': 'http://datamall2.mytransport.sg/ltaodataservice/$metadata#TrainServicesAlerts',
 'value': {'Status': 1, 'AffectedSegments': [], 'Message': []}}

In [116]:
status = r.json()["value"]["Status"]
if status != 1:
    stations_list = []
    for d in r.json()["value"]["AffectedSegments"]:
        stations_list += d["Stations"].split(",")
    station_df = pd.DataFrame(stations_list, columns=["stn_id"])
    station_df["non_disruption_bool"] = 0
    station_df

In [3]:
BUCKET_NAME = 'static-file-storage'
BUCKET_MRT_STN_LIST_PATH = 'mrtsg.csv'

# Add Client() here
storage_client = storage.Client()
path = f"gs://{BUCKET_NAME}/{BUCKET_MRT_STN_LIST_PATH}"
bucket = storage_client.bucket(BUCKET_NAME)
blob = bucket.blob(BUCKET_MRT_STN_LIST_PATH)

with blob.open('r') as mrt_csv:
    # with open(public_path) as geofile:
    '''
    Take geojson file provided by LTA where the taxi stands coordinates are provided
    '''
    mrt_list_df = pd.read_csv(mrt_csv).fillna(1)
    print('loaded mrt_list file successfully')

mrt_list_df.head()

loaded mrt_list file successfully

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,1.0
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,1.0
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,1.0
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,1.0
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,1.0

In [4]:
mrt_list_df = mrt_list_df.set_index('stn_id')
status = r.json()["value"]["Status"]
if status != 1:
    stations_list = []
    for d in r.json()["value"]["AffectedSegments"]:
        stations_list += d["Stations"].split(",")
    station_df = pd.DataFrame(stations_list, columns=["stn_id"])
    station_df["non_disruption_bool"] = 0
    station_df = station_df.set_index('stn_id')
    mrt_list_df.update(station_df)

mrt_list_df.reset_index(inplace=True)
mrt_list_df

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,1.0
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,1.0
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,1.0
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,1.0
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
188,TE5,LENTOR MRT STATION,1.38551,103.83574,5:49:00,23:53:00,1.0,1.0,1.0,1.0
189,TE6,MAYFLOWER MRT STATION,1.37146,103.83657,5:52:00,23:50:00,1.0,1.0,1.0,1.0
190,TE7,BRIGHT HILL MRT STATION,1.36367,103.83363,5:54:00,23:48:00,1.0,1.0,1.0,1.0
191,TE8,UPPER THOMSON MRT STATION,1.35442,103.83290,5:56:00,23:47:00,1.0,1.0,1.0,1.0
192,TE9,CALDECOTT MRT STATION,1.33767,103.83953,5:53:00,23:43:00,1.0,1.0,1.0,1.0

In [5]:
def get_first_time(update_time, stn_first_time):
    today_date = update_time.date()
    first_time = str(today_date) + ' ' + str(stn_first_time)
    return datetime.datetime.strptime(first_time, '%Y-%m-%d %H:%M:%S')

In [6]:
def get_last_time(update_time, stn_last_train):
    tmr_date = update_time.date()  + datetime.timedelta(days = 1)
    today_date = update_time.date()
    if datetime.datetime.strptime(stn_last_train, '%H:%M:%S').time() < datetime.time(2,0):
        last_time = str(tmr_date) + ' ' + str(stn_last_train)
    else:
        last_time = str(today_date) + ' ' + str(stn_last_train)
    return datetime.datetime.strptime(last_time, '%Y-%m-%d %H:%M:%S')

In [11]:
def check_operation_bool(update_time, start_train, last_train):
    if (start_train <= update_time) and (last_train >= update_time):
        return 1.0
    return 0.0

In [8]:
update_time = (datetime.datetime.now() + datetime.timedelta(hours=8))
mrt_list_df.loc[:,"stn_first_train_dt"] = mrt_list_df.apply(lambda x : get_last_time(update_time, x["stn_first_train"]), axis=1)
mrt_list_df.loc[:,"stn_last_train_dt"] = mrt_list_df.apply(lambda x : get_last_time(update_time, x["stn_last_train"]), axis=1)
mrt_list_df.loc[:,"in_operation_bool"] = mrt_list_df.apply(lambda x : check_operation_bool(update_time, x["stn_first_train_dt"], 
                                                                                     x["stn_last_train_dt"]), axis=1)
mrt_list_df["final_status"] = mrt_list_df["in_operation_bool"] * mrt_list_df["non_disruption_bool"]
mrt_list_df["update_time"] = update_time.strftime("%Y-%m-%d %H:%M:%S")
mrt_list_df = mrt_list_df.drop(columns=["stn_first_train_dt","stn_last_train_dt"])
mrt_list_df

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,2022-01-03 19:37:02
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,2022-01-03 19:37:02
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,2022-01-03 19:37:02
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,2022-01-03 19:37:02
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,2022-01-03 19:37:02
...,...,...,...,...,...,...,...,...,...,...
188,TE5,LENTOR MRT STATION,1.38551,103.83574,5:49:00,23:53:00,1.0,1.0,1.0,2022-01-03 19:37:02
189,TE6,MAYFLOWER MRT STATION,1.37146,103.83657,5:52:00,23:50:00,1.0,1.0,1.0,2022-01-03 19:37:02
190,TE7,BRIGHT HILL MRT STATION,1.36367,103.83363,5:54:00,23:48:00,1.0,1.0,1.0,2022-01-03 19:37:02
191,TE8,UPPER THOMSON MRT STATION,1.35442,103.83290,5:56:00,23:47:00,1.0,1.0,1.0,2022-01-03 19:37:02
192,TE9,CALDECOTT MRT STATION,1.33767,103.83953,5:53:00,23:43:00,1.0,1.0,1.0,2022-01-03 19:37:02

In [9]:
mrt_list_df.dtypes

stn_id                  object
stn_name                object
stn_lat                float64
stn_lon                float64
stn_first_train         object
stn_last_train          object
in_operation_bool      float64
non_disruption_bool    float64
final_status           float64
update_time             object
dtype: object

# Get connection between Taxi Stand to Weather Stn

In [5]:
from math import radians, sin, cos, asin, sqrt

def haversine_distance(lon1, lat1, lon2, lat2):
    """
    Compute distance between two pairs of coordinates (lon1, lat1, lon2, lat2)
    See - (https://en.wikipedia.org/wiki/Haversine_formula)
    Distance is measured in kilometers when r = 6371
    r = 6371  Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    Lats and Longs are converted to radians first then computed used haversine
    """
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    radius = 6371
    return 2 * radius * asin(sqrt(a))

In [2]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select distinct taxi_st_id, taxi_st_lat, taxi_st_lon from `taxi-compass-lewagon.api_dataset.c_taxi_stand`
order by taxi_st_id asc
"""

taxi_st_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_st_df.head()

  taxi_st_id  taxi_st_lat  taxi_st_lon
0      kml_1     1.281261   103.844358
1     kml_10     1.278939   103.847973
2    kml_100     1.331126   103.925469
3    kml_101     1.312172   103.938959
4    kml_102     1.313754   103.837341

In [6]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select distinct a.station_id, a.station_lat, a.station_lon from `taxi-compass-lewagon.api_dataset.h_weather_rainfall` a
order by station_id asc
"""

weather_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
weather_df.head()

  station_id  station_lat  station_lon
0        S08      1.37010    103.82710
1       S100      1.41720    103.74855
2       S104      1.44387    103.78538
3       S106      1.41680    103.96730
4       S107      1.31350    103.96250

In [7]:
combined_df = pd.merge(taxi_st_df, weather_df, how="cross")
combined_df["distance"] = combined_df.apply(lambda x : haversine_distance(x["station_lon"], x["station_lat"], 
                                                                          x["taxi_st_lon"], x["taxi_st_lat"]), axis=1)
combined_df

,taxi_st_id,taxi_st_lat,taxi_st_lon,station_id,station_lat,station_lon,distance
0,kml_1,1.281261,103.844358,S08,1.37010,103.82710,10.063072
1,kml_1,1.281261,103.844358,S100,1.41720,103.74855,18.491040
2,kml_1,1.281261,103.844358,S104,1.44387,103.78538,19.233285
3,kml_1,1.281261,103.844358,S106,1.41680,103.96730,20.345096
4,kml_1,1.281261,103.844358,S107,1.31350,103.96250,13.613864
...,...,...,...,...,...,...,...
23795,kml_99,1.405508,103.902206,S88,1.34270,103.84820,9.209624
23796,kml_99,1.405508,103.902206,S89,1.31985,103.66162,28.389843
23797,kml_99,1.405508,103.902206,S90,1.31910,103.81910,13.329057
23798,kml_99,1.405508,103.902206,S900,1.41284,103.86922,3.756326
23799,kml_99,1.405508,103.902206,S94,1.36620,103.95280,7.122867

In [8]:
combined_df = combined_df.sort_values('distance', ascending=True).drop_duplicates(["taxi_st_id"])[["taxi_st_id","station_id"]]
combined_df.reset_index(inplace=True, drop=True)
combined_df

    taxi_st_id station_id
0      kml_115        S40
1       kml_66        S79
2      kml_132       S118
3      kml_131       S118
4      kml_323        S89
..         ...        ...
345    kml_206       S118
346    kml_205       S222
347    kml_204       S118
348    kml_207       S222
349    kml_157       S227

[350 rows x 2 columns]

In [9]:
combined_df = combined_df.rename(columns={"station_id" : "weather_stn_id"})
combined_df

    taxi_st_id weather_stn_id
0      kml_115            S40
1       kml_66            S79
2      kml_132           S118
3      kml_131           S118
4      kml_323            S89
..         ...            ...
345    kml_206           S118
346    kml_205           S222
347    kml_204           S118
348    kml_207           S222
349    kml_157           S227

[350 rows x 2 columns]