In [1]:
import pandas as pd
import numpy as np
import requests
import math
import datetime

from google.cloud import bigquery, storage
import googleapiclient.discovery
from google.api_core.client_options import ClientOptions

from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import models, layers
from tensorflow.keras.callbacks import EarlyStopping

import xgboost as xgb

2022-01-19 22:39:26.973100: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-01-19 22:39:26.973149: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

# Function get_time_distance and get_nearest_taxi_stand

In [2]:
# only for 3 days, need to generate again
ONEMAP_API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjgyNjgsInVzZXJfaWQiOjgyNjgsImVtYWlsIjoianByYW1vbm8wMUBnbWFpbC5jb20iLCJmb3JldmVyIjpmYWxzZSwiaXNzIjoiaHR0cDpcL1wvb20yLmRmZS5vbmVtYXAuc2dcL2FwaVwvdjJcL3VzZXJcL3Nlc3Npb24iLCJpYXQiOjE2Mzk3MzA4OTAsImV4cCI6MTY0MDE2Mjg5MCwibmJmIjoxNjM5NzMwODkwLCJqdGkiOiJiMmNiZjk2ZTE0NmNmMjZjYzdmMGMyMTIwYWUyYWM2NCJ9.X3kCImlS9jyAz2d0G_I2QK9Z5P0QTRnDoLoWcrtBLcA"
LAT_1KM = 5/110
LON_1KM = 5/111.320*math.cos(1.3)

In [9]:
def get_time_distance(start_lat, start_lon, end_lat, end_lon):
    start = str(start_lat)+','+str(start_lon)
    end = str(end_lat)+','+str(end_lon)
    url = "https://developers.onemap.sg/privateapi/routingsvc/route"
    params = {"start" : start,
             "end": end,
             "routeType" : "drive",
             "token": ONEMAP_API_TOKEN}
    r = requests.get(url=url, params=params)
    total_distance = round(r.json()["route_summary"]["total_distance"]/1000,2) # in km
    total_time = round(r.json()["route_summary"]["total_time"]/60,2) # in mins
    return (total_time, total_distance)

In [30]:
def get_planning_area_loc (lat, lon):
    get_pln_loc_url = "https://developers.onemap.sg/privateapi/popapi/getPlanningarea"
    params = {'token':ONEMAP_API_TOKEN, 'lat': lat, 'lng': lon}
    response = requests.get(get_pln_loc_url, params = params)
    if response.status_code != 200:
        raise ValueError
    pln_area_loc = response.json()
    return pln_area_loc[0]['pln_area_n']
get_planning_area_loc(1.319728,103.8421)

'NOVENA'

In [10]:
get_time_distance(1.319728,103.8421,1.326762,103.8559)

(7.47, 3.06)

In [27]:
start_lat = 1.319728
start_lon = 103.8421

In [48]:
end = {"lat" : [(1.326762 + i*0.0091) for i in range(5)],
       "lon" : [(103.8559 + i*0.0024) for i in range(5)]}
end_df = pd.DataFrame(end)
end_df

        lat       lon
0  1.326762  103.8559
1  1.335862  103.8583
2  1.344962  103.8607
3  1.354062  103.8631
4  1.363162  103.8655

In [25]:
def get_nearest_taxi_stand(taxi_lat, taxi_lon, stand_df, top=5):
    stand_df["total_distance"] = stand_df.apply(lambda x : get_time_distance(start_lat, start_lon, 
                                                                             x["lat"], x["lon"])[1], axis = 1)
    stand_df = stand_df.sort_values(by="total_distance", ascending=False).reset_index(drop=True)
    return stand_df.iloc[:top]

In [49]:
get_nearest_taxi_stand(start_lat, start_lon, end_df, top=3)

        lat       lon  total_distance
0  1.363162  103.8655            8.53
1  1.354062  103.8631            7.38
2  1.344962  103.8607            5.00

# ETL for GCP

## parse taxi availability data

In [2]:
taxi_url = "https://api.data.gov.sg/v1/transport/taxi-availability"
r = requests.get(taxi_url)
coordinates = r.json()["features"][0]["geometry"]["coordinates"]
timestamp = r.json()["features"][0]["properties"]["timestamp"]
taxi_available = pd.DataFrame(np.array(coordinates), columns=["lon","lat"])
taxi_available["update_time"] = str(datetime.datetime.strptime(timestamp,"%Y-%m-%dT%H:%M:%S+08:00"))
len(taxi_available), len(taxi_available.dropna())

KeyError: 'features'

In [52]:
time = datetime.datetime.now() + datetime.timedelta(hours=8)
rows = 0
dataset = []
while True:
    uri = f'http://datamall2.mytransport.sg/ltaodataservice/Taxi-Availability?$skip={rows}'
    headers = { 'AccountKey' : 'BehS/IpVR0KOFQ+BgFqM5g==',
    'accept' : 'application/json'} #this is by default
    # requests.get(url=uri, headers=headers).json()
    if len(requests.get(url=uri, headers=headers).json()["value"]) == 0:
        break
    dataset = dataset + requests.get(url=uri, headers=headers).json()["value"]
    rows += 500
taxi_available = pd.DataFrame(dataset).rename(columns={"Longitude": "lon", "Latitude": "lat"})
taxi_available["update_time"] = time.strftime("%Y-%m-%d %H:%M:%S")
taxi_available.head()

         lon      lat          update_time
0  103.84585  1.29118  2021-12-29 03:52:15
1  103.76713  1.31342  2021-12-29 03:52:15
2  103.80222  1.43747  2021-12-29 03:52:15
3  103.81067  1.27713  2021-12-29 03:52:15
4  103.81448  1.32908  2021-12-29 03:52:15

In [51]:
time.strftime("%Y-%m-%d %H:%M:%S")

'2021-12-28 19:37:02'

In [47]:
taxi_available.columns

Index(['lon', 'lat', 'update_time'], dtype='object')

## parse rainfall data

In [24]:
def parse_rainfall_data(request):
    '''
    This function calls the rainfall API
    and parses it into a dataframe.
    Available columns are id, lat, lon, value and timestamp
    
    value represents rainfall, where 0 is no rain.
    '''
    gov = 'https://api.data.gov.sg/v1'
    weather_api = '/environment/rainfall'

    url = gov+weather_api
    response = requests.get(url).json()

    timestamp_str = response['items'][0]['timestamp']
    timestamp = str(datetime.datetime.strptime(timestamp_str, '%Y-%m-%dT%H:%M:%S+08:00'))
    weather_list = []
    for index,value in enumerate(response['items'][0]['readings']):
        weather_list.append(
            {'station_id':response['metadata']['stations'][index]['id'], 
             'station_lat':response['metadata']['stations'][index]['location']['latitude'],
             'station_lon':response['metadata']['stations'][index]['location']['longitude'],
             'rainfall':float(response['items'][0]['readings'][index]['value']),
             'update_time': timestamp})
        
    weather_df = pd.DataFrame(weather_list)
    
    client = bigquery.Client(project='taxi-compass-lewagon')
    table_id = 'api_dataset.h_weather_rainfall'
    
    job = client.load_table_from_dataframe(
        weather_df, table_id
    )

    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
    return ("Done!", 200)

# Data Collection - Public Transport Operating API

Fields required:
1) Timestamp  
2) All station codes  
3) lat/lon  
4) Operating hours  
5) Operating or not (Boolean)  
6) Disrupted or not (Boolean)  

Pull from Train Service Alerts API

In [2]:
url = "http://datamall2.mytransport.sg/ltaodataservice/TrainServiceAlerts"
DATA_MALL_API_ACC = "BehS/IpVR0KOFQ+BgFqM5g=="

headers = {"AccountKey" : DATA_MALL_API_ACC}

r = requests.get(url = url, headers=headers)
r.json()

{'odata.metadata': 'http://datamall2.mytransport.sg/ltaodataservice/$metadata#TrainServicesAlerts',
 'value': {'Status': 1, 'AffectedSegments': [], 'Message': []}}

In [116]:
status = r.json()["value"]["Status"]
if status != 1:
    stations_list = []
    for d in r.json()["value"]["AffectedSegments"]:
        stations_list += d["Stations"].split(",")
    station_df = pd.DataFrame(stations_list, columns=["stn_id"])
    station_df["non_disruption_bool"] = 0
    station_df

In [3]:
BUCKET_NAME = 'static-file-storage'
BUCKET_MRT_STN_LIST_PATH = 'mrtsg.csv'

# Add Client() here
storage_client = storage.Client()
path = f"gs://{BUCKET_NAME}/{BUCKET_MRT_STN_LIST_PATH}"
bucket = storage_client.bucket(BUCKET_NAME)
blob = bucket.blob(BUCKET_MRT_STN_LIST_PATH)

with blob.open('r') as mrt_csv:
    # with open(public_path) as geofile:
    '''
    Take geojson file provided by LTA where the taxi stands coordinates are provided
    '''
    mrt_list_df = pd.read_csv(mrt_csv).fillna(1)
    print('loaded mrt_list file successfully')

mrt_list_df.head()

loaded mrt_list file successfully

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,1.0
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,1.0
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,1.0
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,1.0
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,1.0

In [4]:
mrt_list_df = mrt_list_df.set_index('stn_id')
status = r.json()["value"]["Status"]
if status != 1:
    stations_list = []
    for d in r.json()["value"]["AffectedSegments"]:
        stations_list += d["Stations"].split(",")
    station_df = pd.DataFrame(stations_list, columns=["stn_id"])
    station_df["non_disruption_bool"] = 0
    station_df = station_df.set_index('stn_id')
    mrt_list_df.update(station_df)

mrt_list_df.reset_index(inplace=True)
mrt_list_df

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,1.0
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,1.0
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,1.0
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,1.0
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
188,TE5,LENTOR MRT STATION,1.38551,103.83574,5:49:00,23:53:00,1.0,1.0,1.0,1.0
189,TE6,MAYFLOWER MRT STATION,1.37146,103.83657,5:52:00,23:50:00,1.0,1.0,1.0,1.0
190,TE7,BRIGHT HILL MRT STATION,1.36367,103.83363,5:54:00,23:48:00,1.0,1.0,1.0,1.0
191,TE8,UPPER THOMSON MRT STATION,1.35442,103.83290,5:56:00,23:47:00,1.0,1.0,1.0,1.0
192,TE9,CALDECOTT MRT STATION,1.33767,103.83953,5:53:00,23:43:00,1.0,1.0,1.0,1.0

In [5]:
def get_first_time(update_time, stn_first_time):
    today_date = update_time.date()
    first_time = str(today_date) + ' ' + str(stn_first_time)
    return datetime.datetime.strptime(first_time, '%Y-%m-%d %H:%M:%S')

In [6]:
def get_last_time(update_time, stn_last_train):
    tmr_date = update_time.date()  + datetime.timedelta(days = 1)
    today_date = update_time.date()
    if datetime.datetime.strptime(stn_last_train, '%H:%M:%S').time() < datetime.time(2,0):
        last_time = str(tmr_date) + ' ' + str(stn_last_train)
    else:
        last_time = str(today_date) + ' ' + str(stn_last_train)
    return datetime.datetime.strptime(last_time, '%Y-%m-%d %H:%M:%S')

In [11]:
def check_operation_bool(update_time, start_train, last_train):
    if (start_train <= update_time) and (last_train >= update_time):
        return 1.0
    return 0.0

In [8]:
update_time = (datetime.datetime.now() + datetime.timedelta(hours=8))
mrt_list_df.loc[:,"stn_first_train_dt"] = mrt_list_df.apply(lambda x : get_last_time(update_time, x["stn_first_train"]), axis=1)
mrt_list_df.loc[:,"stn_last_train_dt"] = mrt_list_df.apply(lambda x : get_last_time(update_time, x["stn_last_train"]), axis=1)
mrt_list_df.loc[:,"in_operation_bool"] = mrt_list_df.apply(lambda x : check_operation_bool(update_time, x["stn_first_train_dt"], 
                                                                                     x["stn_last_train_dt"]), axis=1)
mrt_list_df["final_status"] = mrt_list_df["in_operation_bool"] * mrt_list_df["non_disruption_bool"]
mrt_list_df["update_time"] = update_time.strftime("%Y-%m-%d %H:%M:%S")
mrt_list_df = mrt_list_df.drop(columns=["stn_first_train_dt","stn_last_train_dt"])
mrt_list_df

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,2022-01-03 19:37:02
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,2022-01-03 19:37:02
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,2022-01-03 19:37:02
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,2022-01-03 19:37:02
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,2022-01-03 19:37:02
...,...,...,...,...,...,...,...,...,...,...
188,TE5,LENTOR MRT STATION,1.38551,103.83574,5:49:00,23:53:00,1.0,1.0,1.0,2022-01-03 19:37:02
189,TE6,MAYFLOWER MRT STATION,1.37146,103.83657,5:52:00,23:50:00,1.0,1.0,1.0,2022-01-03 19:37:02
190,TE7,BRIGHT HILL MRT STATION,1.36367,103.83363,5:54:00,23:48:00,1.0,1.0,1.0,2022-01-03 19:37:02
191,TE8,UPPER THOMSON MRT STATION,1.35442,103.83290,5:56:00,23:47:00,1.0,1.0,1.0,2022-01-03 19:37:02
192,TE9,CALDECOTT MRT STATION,1.33767,103.83953,5:53:00,23:43:00,1.0,1.0,1.0,2022-01-03 19:37:02

In [9]:
mrt_list_df.dtypes

stn_id                  object
stn_name                object
stn_lat                float64
stn_lon                float64
stn_first_train         object
stn_last_train          object
in_operation_bool      float64
non_disruption_bool    float64
final_status           float64
update_time             object
dtype: object

# Get connection between Taxi Stand to Weather Stn

In [5]:
from math import radians, sin, cos, asin, sqrt

def haversine_distance(lon1, lat1, lon2, lat2):
    """
    Compute distance between two pairs of coordinates (lon1, lat1, lon2, lat2)
    See - (https://en.wikipedia.org/wiki/Haversine_formula)
    Distance is measured in kilometers when r = 6371
    r = 6371  Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    Lats and Longs are converted to radians first then computed used haversine
    """
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    radius = 6371
    return 2 * radius * asin(sqrt(a))

In [2]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select distinct taxi_st_id, taxi_st_lat, taxi_st_lon from `taxi-compass-lewagon.api_dataset.c_taxi_stand`
order by taxi_st_id asc
"""

taxi_st_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_st_df.head()

  taxi_st_id  taxi_st_lat  taxi_st_lon
0      kml_1     1.281261   103.844358
1     kml_10     1.278939   103.847973
2    kml_100     1.331126   103.925469
3    kml_101     1.312172   103.938959
4    kml_102     1.313754   103.837341

In [6]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select distinct a.station_id, a.station_lat, a.station_lon from `taxi-compass-lewagon.api_dataset.h_weather_rainfall` a
order by station_id asc
"""

weather_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
weather_df.head()

  station_id  station_lat  station_lon
0        S08      1.37010    103.82710
1       S100      1.41720    103.74855
2       S104      1.44387    103.78538
3       S106      1.41680    103.96730
4       S107      1.31350    103.96250

In [7]:
combined_df = pd.merge(taxi_st_df, weather_df, how="cross")
combined_df["distance"] = combined_df.apply(lambda x : haversine_distance(x["station_lon"], x["station_lat"], 
                                                                          x["taxi_st_lon"], x["taxi_st_lat"]), axis=1)
combined_df

,taxi_st_id,taxi_st_lat,taxi_st_lon,station_id,station_lat,station_lon,distance
0,kml_1,1.281261,103.844358,S08,1.37010,103.82710,10.063072
1,kml_1,1.281261,103.844358,S100,1.41720,103.74855,18.491040
2,kml_1,1.281261,103.844358,S104,1.44387,103.78538,19.233285
3,kml_1,1.281261,103.844358,S106,1.41680,103.96730,20.345096
4,kml_1,1.281261,103.844358,S107,1.31350,103.96250,13.613864
...,...,...,...,...,...,...,...
23795,kml_99,1.405508,103.902206,S88,1.34270,103.84820,9.209624
23796,kml_99,1.405508,103.902206,S89,1.31985,103.66162,28.389843
23797,kml_99,1.405508,103.902206,S90,1.31910,103.81910,13.329057
23798,kml_99,1.405508,103.902206,S900,1.41284,103.86922,3.756326
23799,kml_99,1.405508,103.902206,S94,1.36620,103.95280,7.122867

In [8]:
combined_df = combined_df.sort_values('distance', ascending=True).drop_duplicates(["taxi_st_id"])[["taxi_st_id","station_id"]]
combined_df.reset_index(inplace=True, drop=True)
combined_df

    taxi_st_id station_id
0      kml_115        S40
1       kml_66        S79
2      kml_132       S118
3      kml_131       S118
4      kml_323        S89
..         ...        ...
345    kml_206       S118
346    kml_205       S222
347    kml_204       S118
348    kml_207       S222
349    kml_157       S227

[350 rows x 2 columns]

In [9]:
combined_df = combined_df.rename(columns={"station_id" : "weather_stn_id"})
combined_df

    taxi_st_id weather_stn_id
0      kml_115            S40
1       kml_66            S79
2      kml_132           S118
3      kml_131           S118
4      kml_323            S89
..         ...            ...
345    kml_206           S118
346    kml_205           S222
347    kml_204           S118
348    kml_207           S222
349    kml_157           S227

[350 rows x 2 columns]

# Deep Learning Modelling

In [2]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select x.taxi_st_id,  substr(x.taxi_st_id,5) taxi_st_num,  x.taxi_count, x.taxi_update_time, x.weather_stn_id, c.rainfall, c.weather_update_time, x.mrt_stn_id, e.mrt_final_status, e.mrt_update_time
from (
select a.taxi_st_id, a.taxi_count, a.taxi_update_time, b.weather_stn_id, d.mrt_stn_id
from (
SELECT ts_id as taxi_st_id, taxi_count, cast(timestamp_trunc(timestamp, minute) as datetime) as taxi_update_time
FROM `taxi-compass-lewagon.api_dataset.h_taxi_stand_taxi_count`
WHERE timestamp > TIMESTAMP_sub(CURRENT_TIMESTAMP() , INTERVAL 168 hour)
) a
left join
(
select weather_stn_id, taxi_st_id from `taxi-compass-lewagon.api_dataset.c_taxi_stand_weather_stn`
) b on a.taxi_st_id = b.taxi_st_id
left join 
(
select taxi_st_id, mrt_stn as mrt_stn_id from `taxi-compass-lewagon.api_dataset.c_mrt_stn_taxi_stand`
where mrt_stn is not null
) d on a.taxi_st_id = d.taxi_st_id
)x
left join 
(
select station_id as weather_stn_id, rainfall, datetime_trunc(datetime (update_time), minute) as weather_update_time
from `taxi-compass-lewagon.api_dataset.h_weather_rainfall`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 168 hour)
) c on x.weather_stn_id = c.weather_stn_id and x.taxi_update_time = c.weather_update_time
left join
(
select stn_id as mrt_stn_id, final_status as mrt_final_status, datetime_trunc(datetime (update_time), minute) as mrt_update_time 
from `taxi-compass-lewagon.api_dataset.h_mrt_status_availability`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 168 hour)
) e on x.taxi_update_time = e.mrt_update_time and x.mrt_stn_id = e.mrt_stn_id
"""

taxi_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_df.head()

,taxi_st_id,taxi_st_num,taxi_count,taxi_update_time,weather_stn_id,rainfall,weather_update_time,mrt_stn_id,mrt_final_status,mrt_update_time
0,kml_4,4,0,2022-01-19 22:18:00,S118,NaN,NaT,None,NaN,NaT
1,kml_5,5,0,2022-01-19 22:18:00,S118,NaN,NaT,None,NaN,NaT
2,kml_6,6,0,2022-01-19 22:18:00,S118,NaN,NaT,None,NaN,NaT
3,kml_9,9,0,2022-01-19 22:18:00,S220,NaN,NaT,NE15,1.0,2022-01-19 22:18:00
4,kml_12,12,0,2022-01-19 22:18:00,S211,NaN,NaT,None,NaN,NaT

In [3]:
df = taxi_df[["taxi_st_num","taxi_update_time","taxi_count","rainfall","mrt_final_status"]].copy()
df["taxi_st_num"] = df["taxi_st_num"].astype('int64')
df = df.sort_values(by=["taxi_st_num", "taxi_update_time"],ascending=True).reset_index(drop=True)
df[["rainfall"]] = df[["rainfall"]].fillna(df.groupby(['taxi_st_num'])[["rainfall"]].ffill())
df[["mrt_final_status","rainfall"]] = df[["mrt_final_status","rainfall"]].fillna(value=0)
df

,taxi_st_num,taxi_update_time,taxi_count,rainfall,mrt_final_status
0,1,2022-01-12 14:40:00,0,0.0,0.0
1,1,2022-01-12 14:41:00,0,0.0,0.0
2,1,2022-01-12 14:42:00,0,0.0,0.0
3,1,2022-01-12 14:43:00,2,0.0,0.0
4,1,2022-01-12 14:44:00,2,0.0,0.0
...,...,...,...,...,...
4089530,350,2022-01-19 22:35:00,0,0.0,1.0
4089531,350,2022-01-19 22:36:00,0,0.0,1.0
4089532,350,2022-01-19 22:37:00,0,0.0,1.0
4089533,350,2022-01-19 22:38:00,0,0.0,1.0
4089534,350,2022-01-19 22:39:00,0,0.0,1.0

In [4]:
def get_weekday(time):
    time = time.weekday()
    if time == 5 or time == 6:
        return 1
    return 0

df = df.groupby(["taxi_st_num","taxi_update_time","taxi_count","rainfall"]).agg('min').reset_index().drop_duplicates(subset=["taxi_st_num","taxi_update_time"])
df = df.set_index(["taxi_st_num","taxi_update_time"])
df = df.groupby(level=0).apply(lambda x: x.reset_index(level=0, drop=True).asfreq("60S")).reset_index()
df[["taxi_count","rainfall","mrt_final_status"]] = df[["taxi_count","rainfall","mrt_final_status"]].fillna(df.groupby(['taxi_st_num'])[["taxi_count","rainfall","mrt_final_status"]].ffill())
df["hour"] = df["taxi_update_time"].dt.hour
df["minute"] = df["taxi_update_time"].dt.minute
df['hr_sin'] = np.sin(df["hour"]*(2.*np.pi/24))
df['hr_cos'] = np.cos(df["hour"]*(2.*np.pi/24))
df['min_sin'] = np.sin(df["minute"]*(2.*np.pi/60))
df['min_cos'] = np.cos(df["minute"]*(2.*np.pi/60))
df["taxi_update_time"] = df["taxi_update_time"].dt.tz_localize("Asia/Singapore")
df["weekend_bool"] = df.apply(lambda x : get_weekday(x["taxi_update_time"]), axis=1)
df

,taxi_st_num,taxi_update_time,taxi_count,rainfall,mrt_final_status,hour,minute,hr_sin,hr_cos,min_sin,min_cos,weekend_bool
0,1,2022-01-12 14:40:00+08:00,0.0,0.0,0.0,14,40,-0.5,-0.866025,-0.866025,-0.500000,0
1,1,2022-01-12 14:41:00+08:00,0.0,0.0,0.0,14,41,-0.5,-0.866025,-0.913545,-0.406737,0
2,1,2022-01-12 14:42:00+08:00,0.0,0.0,0.0,14,42,-0.5,-0.866025,-0.951057,-0.309017,0
3,1,2022-01-12 14:43:00+08:00,2.0,0.0,0.0,14,43,-0.5,-0.866025,-0.978148,-0.207912,0
4,1,2022-01-12 14:44:00+08:00,2.0,0.0,0.0,14,44,-0.5,-0.866025,-0.994522,-0.104528,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3695995,350,2022-01-19 22:35:00+08:00,0.0,0.0,1.0,22,35,-0.5,0.866025,-0.500000,-0.866025,0
3695996,350,2022-01-19 22:36:00+08:00,0.0,0.0,1.0,22,36,-0.5,0.866025,-0.587785,-0.809017,0
3695997,350,2022-01-19 22:37:00+08:00,0.0,0.0,1.0,22,37,-0.5,0.866025,-0.669131,-0.743145,0
3695998,350,2022-01-19 22:38:00+08:00,0.0,0.0,1.0,22,38,-0.5,0.866025,-0.743145,-0.669131,0
3695999,350,2022-01-19 22:39:00+08:00,0.0,0.0,1.0,22,39,-0.5,0.866025,-0.809017,-0.587785,0

In [5]:
X_train_mas = np.array([])
X_test_mas = np.array([])
y_train_mas = np.array([])
y_test_mas = np.array([])
X_mas = np.array([])
y_mas = np.array([])

bins = [0, 1, 2, 3, 4, 10000]
labels = [0, 1, 2, 3, 4]
for i in range(350):
    print(i+1,len(df.loc[df["taxi_st_num"] == i+1]), "started...")
    X = df.loc[df["taxi_st_num"] == i+1][["taxi_st_num","taxi_count", "rainfall","mrt_final_status",
                                          "weekend_bool","hr_sin","hr_cos","min_sin","min_cos"]].copy()
    X["y"] = X["taxi_count"].shift(-15)
    X = X.dropna()
    y = pd.cut(X["y"], bins=bins, right=False, labels=labels).to_numpy()
    X = X.drop(columns = ["y"]).to_numpy()
    
    X = X.reshape(1, X.shape[0], X.shape[1])
    y = y.reshape(1, y.shape[0])
    
    if len(X_mas) == 0:
        X_mas, y_mas = X, y
    else:
        X_mas = np.vstack((X_mas, X))
        y_mas = np.vstack((y_mas, y))

print(X_mas.shape, y_mas.shape)

1 10560 started...
2 10560 started...
3 10560 started...
4 10560 started...
5 10560 started...
6 10560 started...
7 10560 started...
8 10560 started...
9 10560 started...
10 10560 started...
11 10560 started...
12 10560 started...
13 10560 started...
14 10560 started...
15 10560 started...
16 10560 started...
17 10560 started...
18 10560 started...
19 10560 started...
20 10560 started...
21 10560 started...
22 10560 started...
23 10560 started...
24 10560 started...
25 10560 started...
26 10560 started...
27 10560 started...
28 10560 started...
29 10560 started...
30 10560 started...
31 10560 started...
32 10560 started...
33 10560 started...
34 10560 started...
35 10560 started...
36 10560 started...
37 10560 started...
38 10560 started...
39 10560 started...
40 10560 started...
41 10560 started...
42 10560 started...
43 10560 started...
44 10560 started...
45 10560 started...
46 10560 started...
47 10560 started...
48 10560 started...
49 10560 started...
50 10560 started...
51 10560 started...
52 10560 started...
53 10560 started...
54 10560 started...
55 10560 started...
56 10560 started...
57 10560 started...
58 10560 started...
59 10560 started...
60 10560 started...
61 10560 started...
62 10560 started...
63 10560 started...
64 10560 started...
65 10560 started...
66 10560 started...
67 10560 started...
68 10560 started...
69 10560 started...
70 10560 started...
71 10560 started...
72 10560 started...
73 10560 started...
74 10560 started...
75 10560 started...
76 10560 started...
77 10560 started...
78 10560 started...
79 10560 started...
80 10560 started...
81 10560 started...
82 10560 started...
83 10560 started...
84 10560 started...
85 10560 started...
86 10560 started...
87 10560 started...
88 10560 started...
89 10560 started...
90 10560 started...
91 10560 started...
92 10560 started...
93 10560 started...
94 10560 started...
95 10560 started...
96 10560 started...
97 10560 started...
98 10560 started...
99 10560 started...
100 10560 started...
101 10560 started...
102 10560 started...
103 10560 started...
104 10560 started...
105 10560 started...
106 10560 started...
107 10560 started...
108 10560 started...
109 10560 started...
110 10560 started...
111 10560 started...
112 10560 started...
113 10560 started...
114 10560 started...
115 10560 started...
116 10560 started...
117 10560 started...
118 10560 started...
119 10560 started...
120 10560 started...
121 10560 started...
122 10560 started...
123 10560 started...
124 10560 started...
125 10560 started...
126 10560 started...
127 10560 started...
128 10560 started...
129 10560 started...
130 10560 started...
131 10560 started...
132 10560 started...
133 10560 started...
134 10560 started...
135 10560 started...
136 10560 started...
137 10560 started...
138 10560 started...
139 10560 started...
140 10560 started...
141 10560 started...
142 10560 started...
143 10560 started...
144 10560 started...
145 10560 started...
146 10560 started...
147 10560 started...
148 10560 started...
149 10560 started...
150 10560 started...
151 10560 started...
152 10560 started...
153 10560 started...
154 10560 started...
155 10560 started...
156 10560 started...
157 10560 started...
158 10560 started...
159 10560 started...
160 10560 started...
161 10560 started...
162 10560 started...
163 10560 started...
164 10560 started...
165 10560 started...
166 10560 started...
167 10560 started...
168 10560 started...
169 10560 started...
170 10560 started...
171 10560 started...
172 10560 started...
173 10560 started...
174 10560 started...
175 10560 started...
176 10560 started...
177 10560 started...
178 10560 started...
179 10560 started...
180 10560 started...
181 10560 started...
182 10560 started...
183 10560 started...
184 10560 started...
185 10560 started...
186 10560 started...
187 10560 started...
188 10560 started...
189 10560 started...
190 10560 started...
191 10560 started...
192 10560 started...
193 10560 started...
194 10560 started...
195 10560 started...
196 10560 started...
197 10560 started...
198 10560 started...
199 10560 started...
200 10560 started...
201 10560 started...
202 10560 started...
203 10560 started...
204 10560 started...
205 10560 started...
206 10560 started...
207 10560 started...
208 10560 started...
209 10560 started...
210 10560 started...
211 10560 started...
212 10560 started...
213 10560 started...
214 10560 started...
215 10560 started...
216 10560 started...
217 10560 started...
218 10560 started...
219 10560 started...
220 10560 started...
221 10560 started...
222 10560 started...
223 10560 started...
224 10560 started...
225 10560 started...
226 10560 started...
227 10560 started...
228 10560 started...
229 10560 started...
230 10560 started...
231 10560 started...
232 10560 started...
233 10560 started...
234 10560 started...
235 10560 started...
236 10560 started...
237 10560 started...
238 10560 started...
239 10560 started...
240 10560 started...
241 10560 started...
242 10560 started...
243 10560 started...
244 10560 started...
245 10560 started...
246 10560 started...
247 10560 started...
248 10560 started...
249 10560 started...
250 10560 started...
251 10560 started...
252 10560 started...
253 10560 started...
254 10560 started...
255 10560 started...
256 10560 started...
257 10560 started...
258 10560 started...
259 10560 started...
260 10560 started...
261 10560 started...
262 10560 started...
263 10560 started...
264 10560 started...
265 10560 started...
266 10560 started...
267 10560 started...
268 10560 started...
269 10560 started...
270 10560 started...
271 10560 started...
272 10560 started...
273 10560 started...
274 10560 started...
275 10560 started...
276 10560 started...
277 10560 started...
278 10560 started...
279 10560 started...
280 10560 started...
281 10560 started...
282 10560 started...
283 10560 started...
284 10560 started...
285 10560 started...
286 10560 started...
287 10560 started...
288 10560 started...
289 10560 started...
290 10560 started...
291 10560 started...
292 10560 started...
293 10560 started...
294 10560 started...
295 10560 started...
296 10560 started...
297 10560 started...
298 10560 started...
299 10560 started...
300 10560 started...
301 10560 started...
302 10560 started...
303 10560 started...
304 10560 started...
305 10560 started...
306 10560 started...
307 10560 started...
308 10560 started...
309 10560 started...
310 10560 started...
311 10560 started...
312 10560 started...
313 10560 started...
314 10560 started...
315 10560 started...
316 10560 started...
317 10560 started...
318 10560 started...
319 10560 started...
320 10560 started...
321 10560 started...
322 10560 started...
323 10560 started...
324 10560 started...
325 10560 started...
326 10560 started...
327 10560 started...
328 10560 started...
329 10560 started...
330 10560 started...
331 10560 started...
332 10560 started...
333 10560 started...
334 10560 started...
335 10560 started...
336 10560 started...
337 10560 started...
338 10560 started...
339 10560 started...
340 10560 started...
341 10560 started...
342 10560 started...
343 10560 started...
344 10560 started...
345 10560 started...
346 10560 started...
347 10560 started...
348 10560 started...
349 10560 started...
350 10560 started...
(350, 10545, 9) (350, 10545)

In [6]:
X_mas.shape, y_mas.shape

((350, 10545, 9), (350, 10545))

In [7]:
X_mas = X_mas.reshape(350*10545, 9)
y_mas = y_mas.reshape(350*10545)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_mas, y_mas, train_size=0.95)

## Predict with XGBoost

In [65]:
# load data into DMatrix object
dtrain = xgb.DMatrix(X_train, y_train)
dtest = xgb.DMatrix(X_test)
params = {'objective': 'multi:softmax', 'num_class' : 5, 'eval_metric' : 'merror', 'verbosity' : 2}

# train XGBoost model
bst = xgb.train(params, dtrain, 20)
bst.save_model('./model.bst')

[23:34:41] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:42] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:43] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:43] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:44] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:45] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:46] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:47] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:48] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:49] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:50] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:50] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:51] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:52] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:53] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:54] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:56] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:57] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:58] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:34:58] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:34:59] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:00] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:01] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:02] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:03] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:04] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:04] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:05] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:06] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:07] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:08] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:09] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:09] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:10] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:11] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:12] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:13] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:14] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:15] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:15] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:16] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:17] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:18] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:19] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:20] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:21] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:22] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:23] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:24] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:25] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:26] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:27] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:28] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 122 extra nodes, 0 pruned nodes, max_depth=6
[23:35:29] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:30] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:31] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:32] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:33] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:33] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:34] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:35] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:36] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:37] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:38] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:39] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:40] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:40] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:41] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 122 extra nodes, 0 pruned nodes, max_depth=6
[23:35:42] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:43] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:44] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:45] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6

[23:35:46] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:47] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:48] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:35:50] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:51] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:52] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:53] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:54] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:55] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:56] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:57] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:35:58] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 120 extra nodes, 0 pruned nodes, max_depth=6
[23:35:59] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 120 extra nodes, 0 pruned nodes, max_depth=6
[23:36:00] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:01] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6
[23:36:02] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 98 extra nodes, 0 pruned nodes, max_depth=6
[23:36:03] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:05] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 122 extra nodes, 0 pruned nodes, max_depth=6
[23:36:06] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:07] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:08] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 110 extra nodes, 0 pruned nodes, max_depth=6
[23:36:09] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 120 extra nodes, 0 pruned nodes, max_depth=6
[23:36:10] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:11] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:12] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:13] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:14] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 126 extra nodes, 0 pruned nodes, max_depth=6
[23:36:14] INFO: ../src/tree/updater_prune.cc:101: tree pruning end, 124 extra nodes, 0 pruned nodes, max_depth=6

In [73]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, bst.predict(dtest))

0.503316390120192

## Use NN Multi-class Classification

In [6]:
y_mas_cat = to_categorical(y_mas)
X_train1, X_val1, y_train1, y_val1 = X_mas[:,:-500], X_mas[:,-500:], y_mas_cat[:,:-500], y_mas_cat[:,-500:]

In [7]:
X_train1.shape, X_val1.shape

((350, 10750, 23), (350, 500, 23))

In [13]:
def init_model():
    model = models.Sequential()
    model.add(layers.LSTM(units=10, activation="tanh", return_sequences=True, input_shape=(10750,23)))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(30, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(30, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(5, activation="softmax"))
    
    model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    return model

es = EarlyStopping(patience=5, restore_best_weights=True)
model = init_model()

history = model.fit(X_train1, y_train1, validation_data=(X_val1, y_val1),
                   batch_size=32, epochs=500, callbacks=[es], verbose=1)

Epoch 1/500
11/11 [==============================] - ETA: 0s - loss: 1.6436 - accuracy: 0.1885WARNING:tensorflow:Model was constructed with shape (None, 10750, 23) for input KerasTensor(type_spec=TensorSpec(shape=(None, 10750, 23), dtype=tf.float32, name='lstm_3_input'), name='lstm_3_input', description="created by layer 'lstm_3_input'"), but it was called on an input with incompatible shape (None, 500, 23).
11/11 [==============================] - 75s 7s/step - loss: 1.6436 - accuracy: 0.1885 - val_loss: 1.5883 - val_accuracy: 0.3194
Epoch 2/500
11/11 [==============================] - 64s 6s/step - loss: 1.5876 - accuracy: 0.2831 - val_loss: 1.5444 - val_accuracy: 0.4546
Epoch 3/500
11/11 [==============================] - 70s 6s/step - loss: 1.5443 - accuracy: 0.3747 - val_loss: 1.4865 - val_accuracy: 0.4802
Epoch 4/500
11/11 [==============================] - 62s 6s/step - loss: 1.4916 - accuracy: 0.4357 - val_loss: 1.4071 - val_accuracy: 0.4824
Epoch 5/500
11/11 [==============================] - 61s 6s/step - loss: 1.4245 - accuracy: 0.4695 - val_loss: 1.3275 - val_accuracy: 0.4865
Epoch 6/500
11/11 [==============================] - 52s 5s/step - loss: 1.3555 - accuracy: 0.4845 - val_loss: 1.2640 - val_accuracy: 0.4940
Epoch 7/500
11/11 [==============================] - 53s 5s/step - loss: 1.3026 - accuracy: 0.4918 - val_loss: 1.2229 - val_accuracy: 0.5020
Epoch 8/500
11/11 [==============================] - 50s 5s/step - loss: 1.2708 - accuracy: 0.4972 - val_loss: 1.1953 - val_accuracy: 0.5115
Epoch 9/500
11/11 [==============================] - 55s 5s/step - loss: 1.2511 - accuracy: 0.5017 - val_loss: 1.1872 - val_accuracy: 0.5117
Epoch 10/500
11/11 [==============================] - 75s 7s/step - loss: 1.2369 - accuracy: 0.5053 - val_loss: 1.1762 - val_accuracy: 0.5148
Epoch 11/500
11/11 [==============================] - 64s 6s/step - loss: 1.2260 - accuracy: 0.5090 - val_loss: 1.1695 - val_accuracy: 0.5170
Epoch 12/500
11/11 [==============================] - 68s 6s/step - loss: 1.2173 - accuracy: 0.5118 - val_loss: 1.1647 - val_accuracy: 0.5180
Epoch 13/500
11/11 [==============================] - 60s 5s/step - loss: 1.2104 - accuracy: 0.5135 - val_loss: 1.1613 - val_accuracy: 0.5188
Epoch 14/500
11/11 [==============================] - 53s 5s/step - loss: 1.2047 - accuracy: 0.5151 - val_loss: 1.1592 - val_accuracy: 0.5185
Epoch 15/500
11/11 [==============================] - 54s 5s/step - loss: 1.1994 - accuracy: 0.5165 - val_loss: 1.1570 - val_accuracy: 0.5192
Epoch 16/500
11/11 [==============================] - 60s 5s/step - loss: 1.1953 - accuracy: 0.5176 - val_loss: 1.1542 - val_accuracy: 0.5201
Epoch 17/500
11/11 [==============================] - 61s 6s/step - loss: 1.1914 - accuracy: 0.5190 - val_loss: 1.1531 - val_accuracy: 0.5204
Epoch 18/500
11/11 [==============================] - 56s 5s/step - loss: 1.1882 - accuracy: 0.5195 - val_loss: 1.1508 - val_accuracy: 0.5208
Epoch 19/500
11/11 [==============================] - 55s 5s/step - loss: 1.1855 - accuracy: 0.5203 - val_loss: 1.1509 - val_accuracy: 0.5201
Epoch 20/500
11/11 [==============================] - 58s 5s/step - loss: 1.1822 - accuracy: 0.5211 - val_loss: 1.1485 - val_accuracy: 0.5209
Epoch 21/500
11/11 [==============================] - 61s 6s/step - loss: 1.1800 - accuracy: 0.5214 - val_loss: 1.1473 - val_accuracy: 0.5211
Epoch 22/500
11/11 [==============================] - 66s 6s/step - loss: 1.1776 - accuracy: 0.5219 - val_loss: 1.1473 - val_accuracy: 0.5211
Epoch 23/500
11/11 [==============================] - 62s 6s/step - loss: 1.1758 - accuracy: 0.5222 - val_loss: 1.1457 - val_accuracy: 0.5213
Epoch 24/500
11/11 [==============================] - 60s 5s/step - loss: 1.1737 - accuracy: 0.5228 - val_loss: 1.1451 - val_accuracy: 0.5212
Epoch 25/500
11/11 [==============================] - 66s 6s/step - loss: 1.1718 - accuracy: 0.5234 - val_loss: 1.1460 - val_accuracy: 0.5209
Epoch 26/500
11/11 [==============================] - 57s 5s/step - loss: 1.1704 - accuracy: 0.5237 - val_loss: 1.1448 - val_accuracy: 0.5210
Epoch 27/500
11/11 [==============================] - 53s 5s/step - loss: 1.1691 - accuracy: 0.5240 - val_loss: 1.1443 - val_accuracy: 0.5210
Epoch 28/500
11/11 [==============================] - 56s 5s/step - loss: 1.1676 - accuracy: 0.5246 - val_loss: 1.1432 - val_accuracy: 0.5211
Epoch 29/500
11/11 [==============================] - 58s 5s/step - loss: 1.1660 - accuracy: 0.5249 - val_loss: 1.1434 - val_accuracy: 0.5213
Epoch 30/500
11/11 [==============================] - 56s 5s/step - loss: 1.1650 - accuracy: 0.5249 - val_loss: 1.1416 - val_accuracy: 0.5215
Epoch 31/500
11/11 [==============================] - 54s 5s/step - loss: 1.1636 - accuracy: 0.5255 - val_loss: 1.1411 - val_accuracy: 0.5215
Epoch 32/500
11/11 [==============================] - 51s 5s/step - loss: 1.1622 - accuracy: 0.5254 - val_loss: 1.1421 - val_accuracy: 0.5209
Epoch 33/500
11/11 [==============================] - 51s 5s/step - loss: 1.1614 - accuracy: 0.5259 - val_loss: 1.1424 - val_accuracy: 0.5202
Epoch 34/500
11/11 [==============================] - 51s 5s/step - loss: 1.1605 - accuracy: 0.5263 - val_loss: 1.1396 - val_accuracy: 0.5213
Epoch 35/500
11/11 [==============================] - 52s 5s/step - loss: 1.1594 - accuracy: 0.5267 - val_loss: 1.1398 - val_accuracy: 0.5214
Epoch 36/500
11/11 [==============================] - 57s 5s/step - loss: 1.1580 - accuracy: 0.5267 - val_loss: 1.1403 - val_accuracy: 0.5211
Epoch 37/500
11/11 [==============================] - 64s 6s/step - loss: 1.1574 - accuracy: 0.5271 - val_loss: 1.1404 - val_accuracy: 0.5208
Epoch 38/500
11/11 [==============================] - 71s 7s/step - loss: 1.1567 - accuracy: 0.5272 - val_loss: 1.1399 - val_accuracy: 0.5205
Epoch 39/500
11/11 [==============================] - 58s 5s/step - loss: 1.1559 - accuracy: 0.5276 - val_loss: 1.1388 - val_accuracy: 0.5201
Epoch 40/500
11/11 [==============================] - 64s 6s/step - loss: 1.1545 - accuracy: 0.5276 - val_loss: 1.1379 - val_accuracy: 0.5207
Epoch 41/500
11/11 [==============================] - 63s 6s/step - loss: 1.1544 - accuracy: 0.5280 - val_loss: 1.1398 - val_accuracy: 0.5206
Epoch 42/500
11/11 [==============================] - 65s 6s/step - loss: 1.1535 - accuracy: 0.5279 - val_loss: 1.1411 - val_accuracy: 0.5201
Epoch 43/500
11/11 [==============================] - 64s 6s/step - loss: 1.1529 - accuracy: 0.5284 - val_loss: 1.1404 - val_accuracy: 0.5204
Epoch 44/500
11/11 [==============================] - 60s 5s/step - loss: 1.1520 - accuracy: 0.5286 - val_loss: 1.1379 - val_accuracy: 0.5208
Epoch 45/500
11/11 [==============================] - 57s 5s/step - loss: 1.1515 - accuracy: 0.5287 - val_loss: 1.1383 - val_accuracy: 0.5211
Epoch 46/500
11/11 [==============================] - 58s 5s/step - loss: 1.1509 - accuracy: 0.5289 - val_loss: 1.1375 - val_accuracy: 0.5209
Epoch 47/500
11/11 [==============================] - 60s 6s/step - loss: 1.1506 - accuracy: 0.5288 - val_loss: 1.1368 - val_accuracy: 0.5210
Epoch 48/500
11/11 [==============================] - 56s 5s/step - loss: 1.1502 - accuracy: 0.5290 - val_loss: 1.1375 - val_accuracy: 0.5211
Epoch 49/500
11/11 [==============================] - 51s 5s/step - loss: 1.1493 - accuracy: 0.5295 - val_loss: 1.1389 - val_accuracy: 0.5201
Epoch 50/500
11/11 [==============================] - 51s 5s/step - loss: 1.1486 - accuracy: 0.5298 - val_loss: 1.1394 - val_accuracy: 0.5200
Epoch 51/500
11/11 [==============================] - 49s 4s/step - loss: 1.1483 - accuracy: 0.5294 - val_loss: 1.1399 - val_accuracy: 0.5196
Epoch 52/500
11/11 [==============================] - 51s 5s/step - loss: 1.1484 - accuracy: 0.5294 - val_loss: 1.1405 - val_accuracy: 0.5197

In [27]:
models.save_model(model, 'class_model')

2022-01-15 11:14:35.204126: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.

INFO:tensorflow:Assets written to: class_model/assets

## Use NN, Regression

In [27]:
def init_model():
    model = models.Sequential()
    model.add(layers.LSTM(units=10, activation="tanh", input_shape=X_train1[0].shape))
    model.add(layers.Dense(25, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(15, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(1, activation="linear"))
    
    model.compile(loss="mse", optimizer="rmsprop", metrics=["mae"])
    
    return model

es = EarlyStopping(patience=5, restore_best_weights=True)

model = init_model()

history = model.fit(X_train1, y_train1, validation_data=(X_val1, y_val1),
                   batch_size=32, epochs=500, callbacks=[es], verbose=1)

Epoch 1/500
11/11 [==============================] - ETA: 0s - loss: 18.5822 - mae: 2.5993WARNING:tensorflow:Model was constructed with shape (None, 11949, 23) for input KerasTensor(type_spec=TensorSpec(shape=(None, 11949, 23), dtype=tf.float32, name='lstm_2_input'), name='lstm_2_input', description="created by layer 'lstm_2_input'"), but it was called on an input with incompatible shape (None, 500, 23).
11/11 [==============================] - 94s 8s/step - loss: 18.5822 - mae: 2.5993 - val_loss: 8.5096 - val_mae: 1.8106
Epoch 2/500
11/11 [==============================] - 97s 9s/step - loss: 15.1338 - mae: 2.2993 - val_loss: 6.4838 - val_mae: 1.5888
Epoch 3/500
11/11 [==============================] - 97s 9s/step - loss: 13.1380 - mae: 2.2128 - val_loss: 5.7391 - val_mae: 1.6026
Epoch 4/500
11/11 [==============================] - 99s 9s/step - loss: 12.1539 - mae: 2.2136 - val_loss: 5.6522 - val_mae: 1.6612
Epoch 5/500
11/11 [==============================] - 95s 9s/step - loss: 12.0194 - mae: 2.1952 - val_loss: 5.7457 - val_mae: 1.7392
Epoch 6/500
11/11 [==============================] - 96s 9s/step - loss: 11.5702 - mae: 2.1806 - val_loss: 5.9125 - val_mae: 1.8091
Epoch 7/500
11/11 [==============================] - 93s 9s/step - loss: 11.7046 - mae: 2.1764 - val_loss: 6.3349 - val_mae: 1.9509
Epoch 8/500
11/11 [==============================] - 89s 8s/step - loss: 11.5651 - mae: 2.1909 - val_loss: 6.2245 - val_mae: 1.9088
Epoch 9/500
11/11 [==============================] - 92s 8s/step - loss: 11.3347 - mae: 2.1598 - val_loss: 6.4903 - val_mae: 1.9488

## Prediction Result

In [93]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select x.taxi_st_id,  substr(x.taxi_st_id,5) taxi_st_num,  x.taxi_count, x.taxi_update_time, x.weather_stn_id, c.rainfall, c.weather_update_time, x.mrt_stn_id, e.mrt_final_status, e.mrt_update_time
from (
select a.taxi_st_id, a.taxi_count, a.taxi_update_time, b.weather_stn_id, d.mrt_stn_id
from (
SELECT ts_id as taxi_st_id, taxi_count, cast(timestamp_trunc(timestamp, minute) as datetime) as taxi_update_time
FROM `taxi-compass-lewagon.api_dataset.h_taxi_stand_taxi_count`
WHERE timestamp > TIMESTAMP_add(CURRENT_TIMESTAMP() , INTERVAL 464 minute)
) a
left join
(
select weather_stn_id, taxi_st_id from `taxi-compass-lewagon.api_dataset.c_taxi_stand_weather_stn`
) b on a.taxi_st_id = b.taxi_st_id
left join 
(
select taxi_st_id, mrt_stn as mrt_stn_id from `taxi-compass-lewagon.api_dataset.c_mrt_stn_taxi_stand`
where mrt_stn is not null
) d on a.taxi_st_id = d.taxi_st_id
)x
left join 
(
select station_id as weather_stn_id, rainfall, datetime_trunc(datetime (update_time), minute) as weather_update_time
from `taxi-compass-lewagon.api_dataset.h_weather_rainfall`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 1 hour)
) c on x.weather_stn_id = c.weather_stn_id and x.taxi_update_time = c.weather_update_time
left join
(
select stn_id as mrt_stn_id, final_status as mrt_final_status, datetime_trunc(datetime (update_time), minute) as mrt_update_time 
from `taxi-compass-lewagon.api_dataset.h_mrt_status_availability`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 1 hour)
) e on x.taxi_update_time = e.mrt_update_time and x.mrt_stn_id = e.mrt_stn_id
"""

taxi_df_pred = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_df_pred.head()

,taxi_st_id,taxi_st_num,taxi_count,taxi_update_time,weather_stn_id,rainfall,weather_update_time,mrt_stn_id,mrt_final_status,mrt_update_time
0,kml_3,3,0,2022-01-19 23:54:00,S111,NaN,NaT,None,NaN,NaT
1,kml_9,9,0,2022-01-19 23:54:00,S220,NaN,NaT,NE15,1.0,2022-01-19 23:54:00
2,kml_12,12,0,2022-01-19 23:54:00,S211,NaN,NaT,None,NaN,NaT
3,kml_13,13,0,2022-01-19 23:54:00,S226,NaN,NaT,None,NaN,NaT
4,kml_14,14,0,2022-01-19 23:54:00,S123,NaN,NaT,None,NaN,NaT

In [94]:
def get_weekday(time):
    time = time.weekday()
    if time == 5 or time == 6:
        return 1
    return 0

df = taxi_df_pred[["taxi_st_num","taxi_update_time","taxi_count","rainfall","mrt_final_status"]].copy()
df["taxi_st_num"] = df["taxi_st_num"].astype('int64')
df = df.sort_values(by=["taxi_st_num", "taxi_update_time"],ascending=True).reset_index(drop=True)
df[["rainfall"]] = df[["rainfall"]].fillna(df.groupby(['taxi_st_num'])[["rainfall"]].ffill())
df[["mrt_final_status","rainfall"]] = df[["mrt_final_status","rainfall"]].fillna(value=0)
df = df.groupby(["taxi_st_num","taxi_update_time","taxi_count","rainfall"]).agg('min').reset_index().drop_duplicates(subset=["taxi_st_num","taxi_update_time"])
df = df.set_index(["taxi_st_num","taxi_update_time"])
df = df.groupby(level=0).apply(lambda x: x.reset_index(level=0, drop=True).asfreq("60S")).reset_index()
df[["taxi_count","rainfall","mrt_final_status"]] = df[["taxi_count","rainfall","mrt_final_status"]].fillna(df.groupby(['taxi_st_num'])[["taxi_count","rainfall","mrt_final_status"]].ffill())
df["hour"] = df["taxi_update_time"].dt.hour
df["minute"] = df["taxi_update_time"].dt.minute
df['hr_sin'] = np.sin(df["hour"]*(2.*np.pi/24))
df['hr_cos'] = np.cos(df["hour"]*(2.*np.pi/24))
df['min_sin'] = np.sin(df["minute"]*(2.*np.pi/60))
df['min_cos'] = np.cos(df["minute"]*(2.*np.pi/60))
df["taxi_update_time"] = df["taxi_update_time"].dt.tz_localize("Asia/Singapore")
df["weekend_bool"] = df.apply(lambda x : get_weekday(x["taxi_update_time"]), axis=1)
df

,taxi_st_num,taxi_update_time,taxi_count,rainfall,mrt_final_status,hour,minute,hr_sin,hr_cos,min_sin,min_cos,weekend_bool
0,1,2022-01-19 23:50:00+08:00,1,0.0,0.0,23,50,-0.258819,0.965926,-0.866025,0.500000,0
1,1,2022-01-19 23:51:00+08:00,2,0.0,0.0,23,51,-0.258819,0.965926,-0.809017,0.587785,0
2,1,2022-01-19 23:52:00+08:00,2,0.0,0.0,23,52,-0.258819,0.965926,-0.743145,0.669131,0
3,1,2022-01-19 23:53:00+08:00,3,0.0,0.0,23,53,-0.258819,0.965926,-0.669131,0.743145,0
4,1,2022-01-19 23:54:00+08:00,3,0.0,0.0,23,54,-0.258819,0.965926,-0.587785,0.809017,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5595,350,2022-01-20 00:01:00+08:00,1,0.0,0.0,0,1,0.000000,1.000000,0.104528,0.994522,0
5596,350,2022-01-20 00:02:00+08:00,1,0.0,0.0,0,2,0.000000,1.000000,0.207912,0.978148,0
5597,350,2022-01-20 00:03:00+08:00,1,0.0,0.0,0,3,0.000000,1.000000,0.309017,0.951057,0
5598,350,2022-01-20 00:04:00+08:00,0,0.0,0.0,0,4,0.000000,1.000000,0.406737,0.913545,0
5599,350,2022-01-20 00:05:00+08:00,1,0.0,0.0,0,5,0.000000,1.000000,0.500000,0.866025,0

In [95]:
X_mas = np.array([])
X_mas_pred = pd.DataFrame()

bins = [0, 1, 2, 3, 4, 10000]
labels = [0, 1, 2, 3, 4]
for i in range(350):
    print(i+1,len(df.loc[df["taxi_st_num"] == i+1]), "started...")
    X = df.loc[df["taxi_st_num"] == i+1][["taxi_st_num","taxi_update_time","taxi_count", "rainfall","mrt_final_status",
                                          "weekend_bool","hr_sin","hr_cos","min_sin","min_cos"]].copy()

    X = X.dropna()
    X_pred = X[["taxi_st_num","taxi_update_time"]]
    
    X = X.drop(columns=["taxi_update_time"]).to_numpy()
    
    X = X.reshape(1, X.shape[0], X.shape[1])
    
    if len(X_mas) == 0:
        X_mas = X
        X_mas_pred = X_pred
    else:
        X_mas = np.vstack((X_mas, X))
        X_mas_pred = pd.concat([X_mas_pred, X_pred],ignore_index=True)

1 16 started...
2 16 started...
3 16 started...
4 16 started...
5 16 started...
6 16 started...
7 16 started...
8 16 started...
9 16 started...
10 16 started...
11 16 started...
12 16 started...
13 16 started...
14 16 started...
15 16 started...
16 16 started...
17 16 started...
18 16 started...
19 16 started...
20 16 started...
21 16 started...
22 16 started...
23 16 started...
24 16 started...
25 16 started...
26 16 started...
27 16 started...
28 16 started...
29 16 started...
30 16 started...
31 16 started...
32 16 started...
33 16 started...
34 16 started...
35 16 started...
36 16 started...
37 16 started...
38 16 started...
39 16 started...
40 16 started...
41 16 started...
42 16 started...
43 16 started...
44 16 started...
45 16 started...
46 16 started...
47 16 started...
48 16 started...
49 16 started...
50 16 started...
51 16 started...
52 16 started...
53 16 started...
54 16 started...
55 16 started...
56 16 started...
57 16 started...
58 16 started...
59 16 started...
60 16 started...
61 16 started...
62 16 started...
63 16 started...
64 16 started...
65 16 started...
66 16 started...
67 16 started...
68 16 started...
69 16 started...
70 16 started...
71 16 started...
72 16 started...
73 16 started...
74 16 started...
75 16 started...
76 16 started...
77 16 started...
78 16 started...
79 16 started...
80 16 started...
81 16 started...
82 16 started...
83 16 started...
84 16 started...
85 16 started...
86 16 started...
87 16 started...
88 16 started...
89 16 started...
90 16 started...
91 16 started...
92 16 started...
93 16 started...
94 16 started...
95 16 started...
96 16 started...
97 16 started...
98 16 started...
99 16 started...
100 16 started...
101 16 started...
102 16 started...
103 16 started...
104 16 started...
105 16 started...
106 16 started...
107 16 started...
108 16 started...
109 16 started...
110 16 started...
111 16 started...
112 16 started...
113 16 started...
114 16 started...
115 16 started...
116 16 started...
117 16 started...
118 16 started...
119 16 started...
120 16 started...
121 16 started...
122 16 started...
123 16 started...
124 16 started...
125 16 started...
126 16 started...
127 16 started...
128 16 started...
129 16 started...
130 16 started...
131 16 started...
132 16 started...
133 16 started...
134 16 started...
135 16 started...
136 16 started...
137 16 started...
138 16 started...
139 16 started...
140 16 started...
141 16 started...
142 16 started...
143 16 started...
144 16 started...
145 16 started...
146 16 started...
147 16 started...
148 16 started...
149 16 started...
150 16 started...
151 16 started...
152 16 started...
153 16 started...
154 16 started...
155 16 started...
156 16 started...
157 16 started...
158 16 started...
159 16 started...
160 16 started...
161 16 started...
162 16 started...
163 16 started...
164 16 started...
165 16 started...
166 16 started...
167 16 started...
168 16 started...
169 16 started...
170 16 started...
171 16 started...
172 16 started...
173 16 started...
174 16 started...
175 16 started...
176 16 started...
177 16 started...
178 16 started...
179 16 started...
180 16 started...
181 16 started...
182 16 started...
183 16 started...
184 16 started...
185 16 started...
186 16 started...
187 16 started...
188 16 started...
189 16 started...
190 16 started...
191 16 started...
192 16 started...
193 16 started...
194 16 started...
195 16 started...
196 16 started...
197 16 started...
198 16 started...
199 16 started...
200 16 started...
201 16 started...
202 16 started...
203 16 started...
204 16 started...
205 16 started...
206 16 started...
207 16 started...
208 16 started...
209 16 started...
210 16 started...
211 16 started...
212 16 started...
213 16 started...
214 16 started...
215 16 started...
216 16 started...
217 16 started...
218 16 started...
219 16 started...
220 16 started...
221 16 started...
222 16 started...
223 16 started...
224 16 started...
225 16 started...
226 16 started...
227 16 started...
228 16 started...
229 16 started...
230 16 started...
231 16 started...
232 16 started...
233 16 started...
234 16 started...
235 16 started...
236 16 started...
237 16 started...
238 16 started...
239 16 started...
240 16 started...
241 16 started...
242 16 started...
243 16 started...
244 16 started...
245 16 started...
246 16 started...
247 16 started...
248 16 started...
249 16 started...
250 16 started...
251 16 started...
252 16 started...
253 16 started...
254 16 started...
255 16 started...
256 16 started...
257 16 started...
258 16 started...
259 16 started...
260 16 started...
261 16 started...
262 16 started...
263 16 started...
264 16 started...
265 16 started...
266 16 started...
267 16 started...
268 16 started...
269 16 started...
270 16 started...
271 16 started...
272 16 started...
273 16 started...
274 16 started...
275 16 started...
276 16 started...
277 16 started...
278 16 started...
279 16 started...
280 16 started...
281 16 started...
282 16 started...
283 16 started...
284 16 started...
285 16 started...
286 16 started...
287 16 started...
288 16 started...
289 16 started...
290 16 started...
291 16 started...
292 16 started...
293 16 started...
294 16 started...
295 16 started...
296 16 started...
297 16 started...
298 16 started...
299 16 started...
300 16 started...
301 16 started...
302 16 started...
303 16 started...
304 16 started...
305 16 started...
306 16 started...
307 16 started...
308 16 started...
309 16 started...
310 16 started...
311 16 started...
312 16 started...
313 16 started...
314 16 started...
315 16 started...
316 16 started...
317 16 started...
318 16 started...
319 16 started...
320 16 started...
321 16 started...
322 16 started...
323 16 started...
324 16 started...
325 16 started...
326 16 started...
327 16 started...
328 16 started...
329 16 started...
330 16 started...
331 16 started...
332 16 started...
333 16 started...
334 16 started...
335 16 started...
336 16 started...
337 16 started...
338 16 started...
339 16 started...
340 16 started...
341 16 started...
342 16 started...
343 16 started...
344 16 started...
345 16 started...
346 16 started...
347 16 started...
348 16 started...
349 16 started...
350 16 started...

In [68]:
import googleapiclient.discovery
from google.api_core.client_options import ClientOptions

def predict_json(project, region, model, instances, version=None):
    """Send json data to a deployed model for prediction.

    Args:
        project (str): project where the Cloud ML Engine Model is deployed.
        region (str): regional endpoint to use; set to None for ml.googleapis.com
        model (str): model name.
        instances ([Mapping[str: Any]]): Keys should be the names of Tensors
            your deployed model expects as inputs. Values should be datatypes
            convertible to Tensors, or (potentially nested) lists of datatypes
            convertible to tensors.
        version: str, version of the model to target.
    Returns:
        Mapping[str: any]: dictionary of prediction results defined by the
            model.
    """
    # Create the ML Engine service object.
    # To authenticate set the environment variable
    # GOOGLE_APPLICATION_CREDENTIALS=<path_to_service_account_file>
    prefix = "{}-ml".format(region) if region else "ml"
    api_endpoint = "https://{}.googleapis.com".format(prefix)
    client_options = ClientOptions(api_endpoint=api_endpoint)
    service = googleapiclient.discovery.build(
        'ml', 'v1', client_options=client_options)
    name = 'projects/{}/models/{}'.format(project, model)

    if version is not None:
        name += '/versions/{}'.format(version)

    response = service.projects().predict(
        name=name,
        body={'instances': instances}
    ).execute()

    if 'error' in response:
        raise RuntimeError(response['error'])

    return response['predictions']

[1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 4.0,
 1.0,
 4.0,
 4.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 4.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 4.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 4.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 4.0,
 1.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 4.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 ...]

In [96]:
PROJECT_ID = 'taxi-compass-lewagon'
REGION = "asia-southeast1"
MODEL = "xgb_class_model"
MODEL_VERSION = "version3"

X_mas1 = X_mas.reshape(X_mas.shape[0]*X_mas.shape[1], 9)
pred = predict_json(PROJECT_ID, REGION, MODEL, X_mas1.tolist() , version=MODEL_VERSION)zzz
X_mas_pred["timestamp_pred"] = X_mas_pred["taxi_update_time"].dt.tz_localize(None) + pd.to_timedelta(15, unit='m')
X_mas_pred["timestamp_pred"] = X_mas_pred["timestamp_pred"].astype(str)
X_mas_pred["taxi_st_id"] = "kml_" + X_mas_pred["taxi_st_num"].astype("str")
y_res = pd.concat((X_mas_pred[["taxi_st_id","timestamp_pred"]], pd.DataFrame(pred, columns=["taxi_count_pred"])), axis=1)
y_res["minute"] = y_res.groupby(['taxi_st_id']).cumcount()+1
y_res

     taxi_st_id       timestamp_pred  taxi_count_pred  minute
0         kml_1  2022-01-20 00:05:00              1.0       1
1         kml_1  2022-01-20 00:06:00              1.0       2
2         kml_1  2022-01-20 00:07:00              1.0       3
3         kml_1  2022-01-20 00:08:00              4.0       4
4         kml_1  2022-01-20 00:09:00              4.0       5
...         ...                  ...              ...     ...
5595    kml_350  2022-01-20 00:16:00              1.0      12
5596    kml_350  2022-01-20 00:17:00              1.0      13
5597    kml_350  2022-01-20 00:18:00              1.0      14
5598    kml_350  2022-01-20 00:19:00              1.0      15
5599    kml_350  2022-01-20 00:20:00              1.0      16

[5600 rows x 4 columns]