In [1]:
import pandas as pd
import numpy as np
import requests
import math
import datetime

from google.cloud import bigquery, storage

from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import models, layers
from tensorflow.keras.callbacks import EarlyStopping
import warnings

2022-01-15 17:03:46.555520: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-01-15 17:03:46.555567: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

# Function get_time_distance and get_nearest_taxi_stand

In [2]:
# only for 3 days, need to generate again
ONEMAP_API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjgyNjgsInVzZXJfaWQiOjgyNjgsImVtYWlsIjoianByYW1vbm8wMUBnbWFpbC5jb20iLCJmb3JldmVyIjpmYWxzZSwiaXNzIjoiaHR0cDpcL1wvb20yLmRmZS5vbmVtYXAuc2dcL2FwaVwvdjJcL3VzZXJcL3Nlc3Npb24iLCJpYXQiOjE2Mzk3MzA4OTAsImV4cCI6MTY0MDE2Mjg5MCwibmJmIjoxNjM5NzMwODkwLCJqdGkiOiJiMmNiZjk2ZTE0NmNmMjZjYzdmMGMyMTIwYWUyYWM2NCJ9.X3kCImlS9jyAz2d0G_I2QK9Z5P0QTRnDoLoWcrtBLcA"
LAT_1KM = 5/110
LON_1KM = 5/111.320*math.cos(1.3)

In [9]:
def get_time_distance(start_lat, start_lon, end_lat, end_lon):
    start = str(start_lat)+','+str(start_lon)
    end = str(end_lat)+','+str(end_lon)
    url = "https://developers.onemap.sg/privateapi/routingsvc/route"
    params = {"start" : start,
             "end": end,
             "routeType" : "drive",
             "token": ONEMAP_API_TOKEN}
    r = requests.get(url=url, params=params)
    total_distance = round(r.json()["route_summary"]["total_distance"]/1000,2) # in km
    total_time = round(r.json()["route_summary"]["total_time"]/60,2) # in mins
    return (total_time, total_distance)

In [30]:
def get_planning_area_loc (lat, lon):
    get_pln_loc_url = "https://developers.onemap.sg/privateapi/popapi/getPlanningarea"
    params = {'token':ONEMAP_API_TOKEN, 'lat': lat, 'lng': lon}
    response = requests.get(get_pln_loc_url, params = params)
    if response.status_code != 200:
        raise ValueError
    pln_area_loc = response.json()
    return pln_area_loc[0]['pln_area_n']
get_planning_area_loc(1.319728,103.8421)

'NOVENA'

In [10]:
get_time_distance(1.319728,103.8421,1.326762,103.8559)

(7.47, 3.06)

In [27]:
start_lat = 1.319728
start_lon = 103.8421

In [48]:
end = {"lat" : [(1.326762 + i*0.0091) for i in range(5)],
       "lon" : [(103.8559 + i*0.0024) for i in range(5)]}
end_df = pd.DataFrame(end)
end_df

        lat       lon
0  1.326762  103.8559
1  1.335862  103.8583
2  1.344962  103.8607
3  1.354062  103.8631
4  1.363162  103.8655

In [25]:
def get_nearest_taxi_stand(taxi_lat, taxi_lon, stand_df, top=5):
    stand_df["total_distance"] = stand_df.apply(lambda x : get_time_distance(start_lat, start_lon, 
                                                                             x["lat"], x["lon"])[1], axis = 1)
    stand_df = stand_df.sort_values(by="total_distance", ascending=False).reset_index(drop=True)
    return stand_df.iloc[:top]

In [49]:
get_nearest_taxi_stand(start_lat, start_lon, end_df, top=3)

        lat       lon  total_distance
0  1.363162  103.8655            8.53
1  1.354062  103.8631            7.38
2  1.344962  103.8607            5.00

# ETL for GCP

## parse taxi availability data

In [2]:
taxi_url = "https://api.data.gov.sg/v1/transport/taxi-availability"
r = requests.get(taxi_url)
coordinates = r.json()["features"][0]["geometry"]["coordinates"]
timestamp = r.json()["features"][0]["properties"]["timestamp"]
taxi_available = pd.DataFrame(np.array(coordinates), columns=["lon","lat"])
taxi_available["update_time"] = str(datetime.datetime.strptime(timestamp,"%Y-%m-%dT%H:%M:%S+08:00"))
len(taxi_available), len(taxi_available.dropna())

KeyError: 'features'

In [52]:
time = datetime.datetime.now() + datetime.timedelta(hours=8)
rows = 0
dataset = []
while True:
    uri = f'http://datamall2.mytransport.sg/ltaodataservice/Taxi-Availability?$skip={rows}'
    headers = { 'AccountKey' : 'BehS/IpVR0KOFQ+BgFqM5g==',
    'accept' : 'application/json'} #this is by default
    # requests.get(url=uri, headers=headers).json()
    if len(requests.get(url=uri, headers=headers).json()["value"]) == 0:
        break
    dataset = dataset + requests.get(url=uri, headers=headers).json()["value"]
    rows += 500
taxi_available = pd.DataFrame(dataset).rename(columns={"Longitude": "lon", "Latitude": "lat"})
taxi_available["update_time"] = time.strftime("%Y-%m-%d %H:%M:%S")
taxi_available.head()

         lon      lat          update_time
0  103.84585  1.29118  2021-12-29 03:52:15
1  103.76713  1.31342  2021-12-29 03:52:15
2  103.80222  1.43747  2021-12-29 03:52:15
3  103.81067  1.27713  2021-12-29 03:52:15
4  103.81448  1.32908  2021-12-29 03:52:15

In [51]:
time.strftime("%Y-%m-%d %H:%M:%S")

'2021-12-28 19:37:02'

In [47]:
taxi_available.columns

Index(['lon', 'lat', 'update_time'], dtype='object')

## parse rainfall data

In [24]:
def parse_rainfall_data(request):
    '''
    This function calls the rainfall API
    and parses it into a dataframe.
    Available columns are id, lat, lon, value and timestamp
    
    value represents rainfall, where 0 is no rain.
    '''
    gov = 'https://api.data.gov.sg/v1'
    weather_api = '/environment/rainfall'

    url = gov+weather_api
    response = requests.get(url).json()

    timestamp_str = response['items'][0]['timestamp']
    timestamp = str(datetime.datetime.strptime(timestamp_str, '%Y-%m-%dT%H:%M:%S+08:00'))
    weather_list = []
    for index,value in enumerate(response['items'][0]['readings']):
        weather_list.append(
            {'station_id':response['metadata']['stations'][index]['id'], 
             'station_lat':response['metadata']['stations'][index]['location']['latitude'],
             'station_lon':response['metadata']['stations'][index]['location']['longitude'],
             'rainfall':float(response['items'][0]['readings'][index]['value']),
             'update_time': timestamp})
        
    weather_df = pd.DataFrame(weather_list)
    
    client = bigquery.Client(project='taxi-compass-lewagon')
    table_id = 'api_dataset.h_weather_rainfall'
    
    job = client.load_table_from_dataframe(
        weather_df, table_id
    )

    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
    return ("Done!", 200)

# Data Collection - Public Transport Operating API

Fields required:
1) Timestamp  
2) All station codes  
3) lat/lon  
4) Operating hours  
5) Operating or not (Boolean)  
6) Disrupted or not (Boolean)  

Pull from Train Service Alerts API

In [2]:
url = "http://datamall2.mytransport.sg/ltaodataservice/TrainServiceAlerts"
DATA_MALL_API_ACC = "BehS/IpVR0KOFQ+BgFqM5g=="

headers = {"AccountKey" : DATA_MALL_API_ACC}

r = requests.get(url = url, headers=headers)
r.json()

{'odata.metadata': 'http://datamall2.mytransport.sg/ltaodataservice/$metadata#TrainServicesAlerts',
 'value': {'Status': 1, 'AffectedSegments': [], 'Message': []}}

In [116]:
status = r.json()["value"]["Status"]
if status != 1:
    stations_list = []
    for d in r.json()["value"]["AffectedSegments"]:
        stations_list += d["Stations"].split(",")
    station_df = pd.DataFrame(stations_list, columns=["stn_id"])
    station_df["non_disruption_bool"] = 0
    station_df

In [3]:
BUCKET_NAME = 'static-file-storage'
BUCKET_MRT_STN_LIST_PATH = 'mrtsg.csv'

# Add Client() here
storage_client = storage.Client()
path = f"gs://{BUCKET_NAME}/{BUCKET_MRT_STN_LIST_PATH}"
bucket = storage_client.bucket(BUCKET_NAME)
blob = bucket.blob(BUCKET_MRT_STN_LIST_PATH)

with blob.open('r') as mrt_csv:
    # with open(public_path) as geofile:
    '''
    Take geojson file provided by LTA where the taxi stands coordinates are provided
    '''
    mrt_list_df = pd.read_csv(mrt_csv).fillna(1)
    print('loaded mrt_list file successfully')

mrt_list_df.head()

loaded mrt_list file successfully

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,1.0
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,1.0
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,1.0
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,1.0
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,1.0

In [4]:
mrt_list_df = mrt_list_df.set_index('stn_id')
status = r.json()["value"]["Status"]
if status != 1:
    stations_list = []
    for d in r.json()["value"]["AffectedSegments"]:
        stations_list += d["Stations"].split(",")
    station_df = pd.DataFrame(stations_list, columns=["stn_id"])
    station_df["non_disruption_bool"] = 0
    station_df = station_df.set_index('stn_id')
    mrt_list_df.update(station_df)

mrt_list_df.reset_index(inplace=True)
mrt_list_df

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,1.0
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,1.0
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,1.0
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,1.0
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
188,TE5,LENTOR MRT STATION,1.38551,103.83574,5:49:00,23:53:00,1.0,1.0,1.0,1.0
189,TE6,MAYFLOWER MRT STATION,1.37146,103.83657,5:52:00,23:50:00,1.0,1.0,1.0,1.0
190,TE7,BRIGHT HILL MRT STATION,1.36367,103.83363,5:54:00,23:48:00,1.0,1.0,1.0,1.0
191,TE8,UPPER THOMSON MRT STATION,1.35442,103.83290,5:56:00,23:47:00,1.0,1.0,1.0,1.0
192,TE9,CALDECOTT MRT STATION,1.33767,103.83953,5:53:00,23:43:00,1.0,1.0,1.0,1.0

In [5]:
def get_first_time(update_time, stn_first_time):
    today_date = update_time.date()
    first_time = str(today_date) + ' ' + str(stn_first_time)
    return datetime.datetime.strptime(first_time, '%Y-%m-%d %H:%M:%S')

In [6]:
def get_last_time(update_time, stn_last_train):
    tmr_date = update_time.date()  + datetime.timedelta(days = 1)
    today_date = update_time.date()
    if datetime.datetime.strptime(stn_last_train, '%H:%M:%S').time() < datetime.time(2,0):
        last_time = str(tmr_date) + ' ' + str(stn_last_train)
    else:
        last_time = str(today_date) + ' ' + str(stn_last_train)
    return datetime.datetime.strptime(last_time, '%Y-%m-%d %H:%M:%S')

In [11]:
def check_operation_bool(update_time, start_train, last_train):
    if (start_train <= update_time) and (last_train >= update_time):
        return 1.0
    return 0.0

In [8]:
update_time = (datetime.datetime.now() + datetime.timedelta(hours=8))
mrt_list_df.loc[:,"stn_first_train_dt"] = mrt_list_df.apply(lambda x : get_last_time(update_time, x["stn_first_train"]), axis=1)
mrt_list_df.loc[:,"stn_last_train_dt"] = mrt_list_df.apply(lambda x : get_last_time(update_time, x["stn_last_train"]), axis=1)
mrt_list_df.loc[:,"in_operation_bool"] = mrt_list_df.apply(lambda x : check_operation_bool(update_time, x["stn_first_train_dt"], 
                                                                                     x["stn_last_train_dt"]), axis=1)
mrt_list_df["final_status"] = mrt_list_df["in_operation_bool"] * mrt_list_df["non_disruption_bool"]
mrt_list_df["update_time"] = update_time.strftime("%Y-%m-%d %H:%M:%S")
mrt_list_df = mrt_list_df.drop(columns=["stn_first_train_dt","stn_last_train_dt"])
mrt_list_df

,stn_id,stn_name,stn_lat,stn_lon,stn_first_train,stn_last_train,in_operation_bool,non_disruption_bool,final_status,update_time
0,BP1,CHOA CHU KANG LRT STATION,1.38484,103.74458,5:13:00,23:30:00,1.0,1.0,1.0,2022-01-03 19:37:02
1,BP10,FAJAR LRT STATION,1.38452,103.77083,5:04:00,23:43:00,1.0,1.0,1.0,2022-01-03 19:37:02
2,BP11,SEGAR LRT STATION,1.38777,103.76962,5:03:00,23:45:00,1.0,1.0,1.0,2022-01-03 19:37:02
3,BP12,JELAPANG LRT STATION,1.38670,103.76452,5:01:00,23:47:00,1.0,1.0,1.0,2022-01-03 19:37:02
4,BP13,SENJA LRT STATION,1.38269,103.76239,5:00:00,23:48:00,1.0,1.0,1.0,2022-01-03 19:37:02
...,...,...,...,...,...,...,...,...,...,...
188,TE5,LENTOR MRT STATION,1.38551,103.83574,5:49:00,23:53:00,1.0,1.0,1.0,2022-01-03 19:37:02
189,TE6,MAYFLOWER MRT STATION,1.37146,103.83657,5:52:00,23:50:00,1.0,1.0,1.0,2022-01-03 19:37:02
190,TE7,BRIGHT HILL MRT STATION,1.36367,103.83363,5:54:00,23:48:00,1.0,1.0,1.0,2022-01-03 19:37:02
191,TE8,UPPER THOMSON MRT STATION,1.35442,103.83290,5:56:00,23:47:00,1.0,1.0,1.0,2022-01-03 19:37:02
192,TE9,CALDECOTT MRT STATION,1.33767,103.83953,5:53:00,23:43:00,1.0,1.0,1.0,2022-01-03 19:37:02

In [9]:
mrt_list_df.dtypes

stn_id                  object
stn_name                object
stn_lat                float64
stn_lon                float64
stn_first_train         object
stn_last_train          object
in_operation_bool      float64
non_disruption_bool    float64
final_status           float64
update_time             object
dtype: object

# Get connection between Taxi Stand to Weather Stn

In [5]:
from math import radians, sin, cos, asin, sqrt

def haversine_distance(lon1, lat1, lon2, lat2):
    """
    Compute distance between two pairs of coordinates (lon1, lat1, lon2, lat2)
    See - (https://en.wikipedia.org/wiki/Haversine_formula)
    Distance is measured in kilometers when r = 6371
    r = 6371  Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    Lats and Longs are converted to radians first then computed used haversine
    """
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    radius = 6371
    return 2 * radius * asin(sqrt(a))

In [2]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select distinct taxi_st_id, taxi_st_lat, taxi_st_lon from `taxi-compass-lewagon.api_dataset.c_taxi_stand`
order by taxi_st_id asc
"""

taxi_st_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_st_df.head()

  taxi_st_id  taxi_st_lat  taxi_st_lon
0      kml_1     1.281261   103.844358
1     kml_10     1.278939   103.847973
2    kml_100     1.331126   103.925469
3    kml_101     1.312172   103.938959
4    kml_102     1.313754   103.837341

In [6]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select distinct a.station_id, a.station_lat, a.station_lon from `taxi-compass-lewagon.api_dataset.h_weather_rainfall` a
order by station_id asc
"""

weather_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
weather_df.head()

  station_id  station_lat  station_lon
0        S08      1.37010    103.82710
1       S100      1.41720    103.74855
2       S104      1.44387    103.78538
3       S106      1.41680    103.96730
4       S107      1.31350    103.96250

In [7]:
combined_df = pd.merge(taxi_st_df, weather_df, how="cross")
combined_df["distance"] = combined_df.apply(lambda x : haversine_distance(x["station_lon"], x["station_lat"], 
                                                                          x["taxi_st_lon"], x["taxi_st_lat"]), axis=1)
combined_df

,taxi_st_id,taxi_st_lat,taxi_st_lon,station_id,station_lat,station_lon,distance
0,kml_1,1.281261,103.844358,S08,1.37010,103.82710,10.063072
1,kml_1,1.281261,103.844358,S100,1.41720,103.74855,18.491040
2,kml_1,1.281261,103.844358,S104,1.44387,103.78538,19.233285
3,kml_1,1.281261,103.844358,S106,1.41680,103.96730,20.345096
4,kml_1,1.281261,103.844358,S107,1.31350,103.96250,13.613864
...,...,...,...,...,...,...,...
23795,kml_99,1.405508,103.902206,S88,1.34270,103.84820,9.209624
23796,kml_99,1.405508,103.902206,S89,1.31985,103.66162,28.389843
23797,kml_99,1.405508,103.902206,S90,1.31910,103.81910,13.329057
23798,kml_99,1.405508,103.902206,S900,1.41284,103.86922,3.756326
23799,kml_99,1.405508,103.902206,S94,1.36620,103.95280,7.122867

In [8]:
combined_df = combined_df.sort_values('distance', ascending=True).drop_duplicates(["taxi_st_id"])[["taxi_st_id","station_id"]]
combined_df.reset_index(inplace=True, drop=True)
combined_df

    taxi_st_id station_id
0      kml_115        S40
1       kml_66        S79
2      kml_132       S118
3      kml_131       S118
4      kml_323        S89
..         ...        ...
345    kml_206       S118
346    kml_205       S222
347    kml_204       S118
348    kml_207       S222
349    kml_157       S227

[350 rows x 2 columns]

In [9]:
combined_df = combined_df.rename(columns={"station_id" : "weather_stn_id"})
combined_df

    taxi_st_id weather_stn_id
0      kml_115            S40
1       kml_66            S79
2      kml_132           S118
3      kml_131           S118
4      kml_323            S89
..         ...            ...
345    kml_206           S118
346    kml_205           S222
347    kml_204           S118
348    kml_207           S222
349    kml_157           S227

[350 rows x 2 columns]

# Deep Learning Modelling

In [11]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select x.taxi_st_id,  substr(x.taxi_st_id,5) taxi_st_num,  x.taxi_count, x.taxi_update_time, x.weather_stn_id, c.rainfall, c.weather_update_time, x.mrt_stn_id, e.mrt_final_status, e.mrt_update_time
from (
select a.taxi_st_id, a.taxi_count, a.taxi_update_time, b.weather_stn_id, d.mrt_stn_id
from (
SELECT ts_id as taxi_st_id, taxi_count, cast(timestamp_trunc(timestamp, minute) as datetime) as taxi_update_time
FROM `taxi-compass-lewagon.api_dataset.h_taxi_stand_taxi_count`
WHERE timestamp > TIMESTAMP_sub(CURRENT_TIMESTAMP() , INTERVAL 180 hour)
) a
left join
(
select weather_stn_id, taxi_st_id from `taxi-compass-lewagon.api_dataset.c_taxi_stand_weather_stn`
) b on a.taxi_st_id = b.taxi_st_id
left join 
(
select taxi_st_id, mrt_stn as mrt_stn_id from `taxi-compass-lewagon.api_dataset.c_mrt_stn_taxi_stand`
where mrt_stn is not null
) d on a.taxi_st_id = d.taxi_st_id
)x
left join 
(
select station_id as weather_stn_id, rainfall, datetime_trunc(datetime (update_time), minute) as weather_update_time
from `taxi-compass-lewagon.api_dataset.h_weather_rainfall`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 188 hour)
) c on x.weather_stn_id = c.weather_stn_id and x.taxi_update_time = c.weather_update_time
left join
(
select stn_id as mrt_stn_id, final_status as mrt_final_status, datetime_trunc(datetime (update_time), minute) as mrt_update_time 
from `taxi-compass-lewagon.api_dataset.h_mrt_status_availability`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 188 hour)
) e on x.taxi_update_time = e.mrt_update_time and x.mrt_stn_id = e.mrt_stn_id
"""

taxi_df = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_df.head()

KeyboardInterrupt:

In [ ]:
df = taxi_df[["taxi_st_num","taxi_update_time","taxi_count","rainfall","mrt_final_status"]].copy()
df["taxi_st_num"] = df["taxi_st_num"].astype('int64')
df = df.sort_values(by=["taxi_st_num", "taxi_update_time"],ascending=True).reset_index(drop=True)
df[["rainfall"]] = df[["rainfall"]].fillna(df.groupby(['taxi_st_num'])[["rainfall"]].ffill())
df[["mrt_final_status","rainfall"]] = df[["mrt_final_status","rainfall"]].fillna(value=0)
df

In [ ]:
def get_weekday(time):
    time = time.weekday()
    if time == 5 or time == 6:
        return 1
    return 0

df = df.groupby(["taxi_st_num","taxi_update_time","taxi_count","rainfall"]).agg('min').reset_index().drop_duplicates(subset=["taxi_st_num","taxi_update_time"])
df = df.set_index(["taxi_st_num","taxi_update_time"])
df = df.groupby(level=0).apply(lambda x: x.reset_index(level=0, drop=True).asfreq("60S")).reset_index()
df[["taxi_count","rainfall","mrt_final_status"]] = df[["taxi_count","rainfall","mrt_final_status"]].fillna(df.groupby(['taxi_st_num'])[["taxi_count","rainfall","mrt_final_status"]].ffill())
df["hour"] = df["taxi_update_time"].dt.hour
df["minute"] = df["taxi_update_time"].dt.minute
df['hr_sin'] = np.sin(df["hour"]*(2.*np.pi/24))
df['hr_cos'] = np.cos(df["hour"]*(2.*np.pi/24))
df['min_sin'] = np.sin(df["minute"]*(2.*np.pi/60))
df['min_cos'] = np.cos(df["minute"]*(2.*np.pi/60))
df["taxi_update_time"] = df["taxi_update_time"].dt.tz_localize("Asia/Singapore")
df["weekend_bool"] = df.apply(lambda x : get_weekday(x["taxi_update_time"]), axis=1)
df

In [ ]:
X_train_mas = np.array([])
X_test_mas = np.array([])
y_train_mas = np.array([])
y_test_mas = np.array([])
X_mas = np.array([])
y_mas = np.array([])

bins = [0, 1, 2, 3, 4, 10000]
labels = [0, 1, 2, 3, 4]
for i in range(350):
    print(i+1,len(df.loc[df["taxi_st_num"] == i+1]), "started...")
    X = df.loc[df["taxi_st_num"] == i+1][["taxi_count", "rainfall","mrt_final_status",
                                          "weekend_bool","hr_sin","hr_cos","min_sin","min_cos"]].copy()
    X["y"] = X["taxi_count"].shift(-15)
    for day in range(1,16):
        X[f"taxi_count_-{day}"] = X["taxi_count"].shift(day)
    X = X.dropna()
#     y = X["y"].to_numpy()
    y = pd.cut(X["y"], bins=bins, right=False, labels=labels).to_numpy()
    X = X.drop(columns = ["y"]).to_numpy()

#     X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, train_size=0.8)
#     X_train = X_train.reshape(1, X_train.shape[0], X_train.shape[1])
#     X_test = X_test.reshape(1, X_test.shape[0], X_test.shape[1])
#     y_train = y_train.reshape(1, y_train.shape[0])
#     y_test = y_test.reshape(1, y_test.shape[0])

#     if len(X_train_mas) == 0:
#         X_train_mas, X_test_mas, y_train_mas, y_test_mas = X_train, X_test, y_train, y_test
#     else:
#         X_train_mas = np.vstack((X_train_mas, X_train))
#         X_test_mas = np.vstack((X_test_mas, X_test))
#         y_train_mas = np.vstack((y_train_mas, y_train))
#         y_test_mas = np.vstack((y_test_mas, y_test))
    
    X = X.reshape(1, X.shape[0], X.shape[1])
    y = y.reshape(1, y.shape[0])
    
    if len(X_mas) == 0:
        X_mas, y_mas = X, y
    else:
        X_mas = np.vstack((X_mas, X))
        y_mas = np.vstack((y_mas, y))
    
# print(X_train_mas.shape, X_test_mas.shape, y_train_mas.shape, y_test_mas.shape)
print(X_mas.shape, y_mas.shape)

In [12]:
X = df.loc[df["taxi_st_num"] == i+1][["taxi_count", "rainfall","mrt_final_status",
                                          "weekend_bool","hr_sin","hr_cos","min_sin","min_cos"]].copy()
X["y"] = X["taxi_count"].shift(-15)
for day in range(1,15):
    X[f"taxi_count_-{day}"] = X["taxi_count"].shift(day)
X.dropna()

,taxi_count,rainfall,mrt_final_status,weekend_bool,hr_sin,hr_cos,min_sin,min_cos,y,taxi_count_-1,...,taxi_count_-5,taxi_count_-6,taxi_count_-7,taxi_count_-8,taxi_count_-9,taxi_count_-10,taxi_count_-11,taxi_count_-12,taxi_count_-13,taxi_count_-14
4355185,3.0,0.0,1.0,0,-1.000000,-1.836970e-16,0.669131,0.743145,1.0,1.0,...,0.0,3.0,1.0,2.0,1.0,0.0,2.0,1.0,0.0,0.0
4355186,3.0,0.0,1.0,0,-1.000000,-1.836970e-16,0.743145,0.669131,1.0,3.0,...,0.0,0.0,3.0,1.0,2.0,1.0,0.0,2.0,1.0,0.0
4355187,1.0,0.0,1.0,0,-1.000000,-1.836970e-16,0.809017,0.587785,4.0,3.0,...,0.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0,2.0,1.0
4355188,2.0,0.0,1.0,0,-1.000000,-1.836970e-16,0.866025,0.500000,3.0,1.0,...,1.0,0.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0,2.0
4355189,4.0,0.0,1.0,0,-1.000000,-1.836970e-16,0.913545,0.406737,1.0,2.0,...,1.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4367630,1.0,0.0,1.0,1,0.707107,-7.071068e-01,-0.207912,-0.978148,1.0,1.0,...,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0
4367631,1.0,0.0,1.0,1,0.707107,-7.071068e-01,-0.309017,-0.951057,2.0,1.0,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
4367632,2.0,0.0,1.0,1,0.707107,-7.071068e-01,-0.406737,-0.913545,1.0,1.0,...,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0
4367633,1.0,0.0,1.0,1,0.707107,-7.071068e-01,-0.500000,-0.866025,1.0,2.0,...,0.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0
4367634,1.0,0.0,1.0,1,0.707107,-7.071068e-01,-0.587785,-0.809017,1.0,1.0,...,1.0,0.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0

In [ ]:

# y_train_mas_cat = to_categorical(y_train_mas)
# y_test_mas_cat = to_categorical(y_test_mas)
y_mas_cat = to_categorical(y_mas)
X_train1, X_val1, y_train1, y_val1 = X_mas[:,:-500], X_mas[:,-500:], y_mas_cat[:,:-500], y_mas_cat[:,-500:]

In [ ]:
X_train1.shape, y_train1.shape

In [6]:
# X_train1, X_val1, y_train1, y_val1 = X_train_mas[:,:-500], X_train_mas[:,-500:], y_train_mas_cat[:,:-500], y_train_mas_cat[:,-500:]
X_train1, X_val1, y_train1, y_val1 = X_mas[:,:-500], X_mas[:,-500:], y_mas[:,:-500], y_mas[:,-500:]

NameError: name 'y_mas' is not defined

## Use NN Multi-class Classification

In [14]:
from tensorflow.keras.backend import clear_session
clear_session()

In [26]:
def init_model():
    model = models.Sequential()
    model.add(layers.Dense(50, activation="relu", input_shape=()))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(30, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(30, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(5, activation="softmax"))
    
    model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    return model

es = EarlyStopping(patience=5, restore_best_weights=True)
clear_session()
model = init_model()

history = model.fit(X_train1, y_train1, validation_data=(X_val1, y_val1),
                   batch_size=32, epochs=500, callbacks=[es], verbose=1)

Epoch 1/500
11/11 [==============================] - ETA: 0s - loss: 1.9651 - accuracy: 0.2331WARNING:tensorflow:Model was constructed with shape (None, 10750, 23) for input KerasTensor(type_spec=TensorSpec(shape=(None, 10750, 23), dtype=tf.float32, name='dense_input'), name='dense_input', description="created by layer 'dense_input'"), but it was called on an input with incompatible shape (None, 500, 23).
11/11 [==============================] - 5s 385ms/step - loss: 1.9651 - accuracy: 0.2331 - val_loss: 1.5724 - val_accuracy: 0.2678
Epoch 2/500
11/11 [==============================] - 4s 377ms/step - loss: 1.5753 - accuracy: 0.3148 - val_loss: 1.5371 - val_accuracy: 0.2898
Epoch 3/500
11/11 [==============================] - 5s 493ms/step - loss: 1.5106 - accuracy: 0.3586 - val_loss: 1.5178 - val_accuracy: 0.3556
Epoch 4/500
11/11 [==============================] - 5s 426ms/step - loss: 1.4740 - accuracy: 0.3953 - val_loss: 1.4929 - val_accuracy: 0.3898
Epoch 5/500
11/11 [==============================] - 5s 419ms/step - loss: 1.4436 - accuracy: 0.4220 - val_loss: 1.4578 - val_accuracy: 0.4110
Epoch 6/500
11/11 [==============================] - 4s 392ms/step - loss: 1.4119 - accuracy: 0.4425 - val_loss: 1.4135 - val_accuracy: 0.4273
Epoch 7/500
11/11 [==============================] - 4s 367ms/step - loss: 1.3768 - accuracy: 0.4557 - val_loss: 1.3657 - val_accuracy: 0.4362
Epoch 8/500
11/11 [==============================] - 4s 355ms/step - loss: 1.3422 - accuracy: 0.4640 - val_loss: 1.3244 - val_accuracy: 0.4406
Epoch 9/500
11/11 [==============================] - 4s 348ms/step - loss: 1.3119 - accuracy: 0.4691 - val_loss: 1.2984 - val_accuracy: 0.4434
Epoch 10/500
11/11 [==============================] - 4s 344ms/step - loss: 1.2913 - accuracy: 0.4739 - val_loss: 1.2870 - val_accuracy: 0.4452
Epoch 11/500
11/11 [==============================] - 4s 340ms/step - loss: 1.2777 - accuracy: 0.4771 - val_loss: 1.2799 - val_accuracy: 0.4476
Epoch 12/500
11/11 [==============================] - 4s 348ms/step - loss: 1.2678 - accuracy: 0.4800 - val_loss: 1.2746 - val_accuracy: 0.4511
Epoch 13/500
11/11 [==============================] - 4s 342ms/step - loss: 1.2603 - accuracy: 0.4830 - val_loss: 1.2703 - val_accuracy: 0.4535
Epoch 14/500
11/11 [==============================] - 4s 342ms/step - loss: 1.2543 - accuracy: 0.4849 - val_loss: 1.2669 - val_accuracy: 0.4557
Epoch 15/500
11/11 [==============================] - 4s 335ms/step - loss: 1.2490 - accuracy: 0.4878 - val_loss: 1.2632 - val_accuracy: 0.4571
Epoch 16/500
11/11 [==============================] - 4s 332ms/step - loss: 1.2450 - accuracy: 0.4895 - val_loss: 1.2612 - val_accuracy: 0.4588
Epoch 17/500
11/11 [==============================] - 4s 335ms/step - loss: 1.2417 - accuracy: 0.4914 - val_loss: 1.2590 - val_accuracy: 0.4611
Epoch 18/500
11/11 [==============================] - 4s 339ms/step - loss: 1.2384 - accuracy: 0.4932 - val_loss: 1.2562 - val_accuracy: 0.4611
Epoch 19/500
11/11 [==============================] - 4s 341ms/step - loss: 1.2353 - accuracy: 0.4941 - val_loss: 1.2551 - val_accuracy: 0.4630
Epoch 20/500
11/11 [==============================] - 4s 345ms/step - loss: 1.2327 - accuracy: 0.4957 - val_loss: 1.2531 - val_accuracy: 0.4644
Epoch 21/500
11/11 [==============================] - 4s 342ms/step - loss: 1.2304 - accuracy: 0.4968 - val_loss: 1.2508 - val_accuracy: 0.4650
Epoch 22/500
11/11 [==============================] - 4s 347ms/step - loss: 1.2283 - accuracy: 0.4975 - val_loss: 1.2505 - val_accuracy: 0.4665
Epoch 23/500
11/11 [==============================] - 4s 339ms/step - loss: 1.2259 - accuracy: 0.4991 - val_loss: 1.2487 - val_accuracy: 0.4672
Epoch 24/500
11/11 [==============================] - 4s 338ms/step - loss: 1.2244 - accuracy: 0.4994 - val_loss: 1.2476 - val_accuracy: 0.4677
Epoch 25/500
11/11 [==============================] - 4s 346ms/step - loss: 1.2222 - accuracy: 0.5008 - val_loss: 1.2465 - val_accuracy: 0.4693
Epoch 26/500
11/11 [==============================] - 4s 344ms/step - loss: 1.2209 - accuracy: 0.5014 - val_loss: 1.2458 - val_accuracy: 0.4704
Epoch 27/500
11/11 [==============================] - 4s 339ms/step - loss: 1.2194 - accuracy: 0.5021 - val_loss: 1.2452 - val_accuracy: 0.4710
Epoch 28/500
11/11 [==============================] - 4s 348ms/step - loss: 1.2181 - accuracy: 0.5025 - val_loss: 1.2443 - val_accuracy: 0.4721
Epoch 29/500
11/11 [==============================] - 4s 352ms/step - loss: 1.2167 - accuracy: 0.5036 - val_loss: 1.2436 - val_accuracy: 0.4730
Epoch 30/500
11/11 [==============================] - 4s 352ms/step - loss: 1.2154 - accuracy: 0.5041 - val_loss: 1.2428 - val_accuracy: 0.4735
Epoch 31/500
11/11 [==============================] - 4s 340ms/step - loss: 1.2141 - accuracy: 0.5047 - val_loss: 1.2428 - val_accuracy: 0.4735
Epoch 32/500
11/11 [==============================] - 4s 343ms/step - loss: 1.2135 - accuracy: 0.5051 - val_loss: 1.2417 - val_accuracy: 0.4740
Epoch 33/500
11/11 [==============================] - 5s 420ms/step - loss: 1.2122 - accuracy: 0.5054 - val_loss: 1.2430 - val_accuracy: 0.4752
Epoch 34/500
11/11 [==============================] - 4s 380ms/step - loss: 1.2112 - accuracy: 0.5060 - val_loss: 1.2406 - val_accuracy: 0.4743
Epoch 35/500
11/11 [==============================] - 8s 768ms/step - loss: 1.2103 - accuracy: 0.5065 - val_loss: 1.2429 - val_accuracy: 0.4761
Epoch 36/500
11/11 [==============================] - 4s 348ms/step - loss: 1.2089 - accuracy: 0.5068 - val_loss: 1.2408 - val_accuracy: 0.4757
Epoch 37/500
11/11 [==============================] - 4s 346ms/step - loss: 1.2082 - accuracy: 0.5072 - val_loss: 1.2419 - val_accuracy: 0.4769
Epoch 38/500
11/11 [==============================] - 4s 366ms/step - loss: 1.2077 - accuracy: 0.5074 - val_loss: 1.2408 - val_accuracy: 0.4762
Epoch 39/500
11/11 [==============================] - 4s 338ms/step - loss: 1.2069 - accuracy: 0.5079 - val_loss: 1.2398 - val_accuracy: 0.4765
Epoch 40/500
11/11 [==============================] - 4s 344ms/step - loss: 1.2060 - accuracy: 0.5078 - val_loss: 1.2435 - val_accuracy: 0.4773
Epoch 41/500
11/11 [==============================] - 4s 335ms/step - loss: 1.2054 - accuracy: 0.5084 - val_loss: 1.2391 - val_accuracy: 0.4764
Epoch 42/500
11/11 [==============================] - 4s 351ms/step - loss: 1.2045 - accuracy: 0.5087 - val_loss: 1.2407 - val_accuracy: 0.4770
Epoch 43/500
11/11 [==============================] - 4s 353ms/step - loss: 1.2040 - accuracy: 0.5088 - val_loss: 1.2418 - val_accuracy: 0.4778
Epoch 44/500
11/11 [==============================] - 4s 376ms/step - loss: 1.2033 - accuracy: 0.5093 - val_loss: 1.2408 - val_accuracy: 0.4773
Epoch 45/500
11/11 [==============================] - 4s 366ms/step - loss: 1.2030 - accuracy: 0.5092 - val_loss: 1.2415 - val_accuracy: 0.4779
Epoch 46/500
11/11 [==============================] - 4s 379ms/step - loss: 1.2024 - accuracy: 0.5094 - val_loss: 1.2403 - val_accuracy: 0.4772

In [27]:
models.save_model(model, 'class_model')

2022-01-15 11:14:35.204126: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.

INFO:tensorflow:Assets written to: class_model/assets

In [38]:
loaded_model = models.load_model('class_model')
np.argmax(loaded_model.predict(X_mas), axis=-1)

WARNING:tensorflow:Model was constructed with shape (None, 10750, 23) for input KerasTensor(type_spec=TensorSpec(shape=(None, 10750, 23), dtype=tf.float32, name='dense_input'), name='dense_input', description="created by layer 'dense_input'"), but it was called on an input with incompatible shape (None, 11250, 23).

array([[4, 4, 4, ..., 4, 4, 4],
       [4, 4, 4, ..., 4, 4, 4],
       [4, 4, 4, ..., 4, 4, 4],
       ...,
       [1, 1, 1, ..., 4, 4, 4],
       [1, 1, 1, ..., 4, 4, 4],
       [1, 1, 1, ..., 4, 1, 1]])

In [47]:
loaded_model = models.load_model('class_model')
pred = np.argmax(model.predict(X_val1), axis=-1)
X_test = X_val1.reshape((X_val1.shape[0]*X_val1.shape[1],X_val1.shape[2]))
pred = pred.reshape((pred.shape[0]*pred.shape[1]))
pd.concat((pd.DataFrame(X_test), pd.DataFrame(pred)), axis=1)

In [53]:
pd.DataFrame(pred)

        0
0       1
1       1
2       1
3       1
4       1
...    ..
174995  4
174996  4
174997  4
174998  1
174999  1

[175000 rows x 1 columns]

In [54]:
pd.concat((pd.DataFrame(X_test), pd.DataFrame(pred)), axis=1)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,0
0,4.0,0.0,0.0,1.0,0.5,0.866025,9.781476e-01,2.079117e-01,3.0,1.0,...,2.0,2.0,1.0,4.0,4.0,3.0,5.0,4.0,1.0,1
1,1.0,0.0,0.0,1.0,0.5,0.866025,9.945219e-01,1.045285e-01,4.0,3.0,...,0.0,2.0,2.0,1.0,4.0,4.0,3.0,5.0,4.0,1
2,1.0,0.0,0.0,1.0,0.5,0.866025,1.000000e+00,6.123234e-17,1.0,4.0,...,0.0,0.0,2.0,2.0,1.0,4.0,4.0,3.0,5.0,1
3,0.0,0.0,0.0,1.0,0.5,0.866025,9.945219e-01,-1.045285e-01,1.0,1.0,...,0.0,0.0,0.0,2.0,2.0,1.0,4.0,4.0,3.0,1
4,1.0,0.0,0.0,1.0,0.5,0.866025,9.781476e-01,-2.079117e-01,0.0,1.0,...,1.0,0.0,0.0,0.0,2.0,2.0,1.0,4.0,4.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174995,2.0,0.0,1.0,1.0,0.5,-0.866025,2.079117e-01,-9.781476e-01,4.0,4.0,...,5.0,0.0,2.0,2.0,2.0,2.0,4.0,2.0,1.0,4
174996,2.0,0.0,1.0,1.0,0.5,-0.866025,1.045285e-01,-9.945219e-01,2.0,4.0,...,2.0,5.0,0.0,2.0,2.0,2.0,2.0,4.0,2.0,4
174997,2.0,0.0,1.0,1.0,0.5,-0.866025,1.224647e-16,-1.000000e+00,2.0,2.0,...,0.0,2.0,5.0,0.0,2.0,2.0,2.0,2.0,4.0,4
174998,2.0,0.0,1.0,1.0,0.5,-0.866025,-1.045285e-01,-9.945219e-01,2.0,2.0,...,2.0,0.0,2.0,5.0,0.0,2.0,2.0,2.0,2.0,1
174999,2.0,0.0,1.0,1.0,0.5,-0.866025,-2.079117e-01,-9.781476e-01,2.0,2.0,...,2.0,2.0,0.0,2.0,5.0,0.0,2.0,2.0,2.0,1

In [55]:
np.hstack((X_test, pred))

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [37]:
pred_df = pd.DataFrame(pred)
pred_df.set_index(list(pred_df)[0])

,1,2,3,4,5,6,7,8,9,10,...,490,491,492,493,494,495,496,497,498,499
0,,,,,,,,,,,,,,,,,,,,,
6,6,6,6,6,6,6,6,6,6,6,...,4,4,4,4,4,4,4,4,5,4
6,6,6,6,6,6,6,6,6,5,6,...,5,5,5,4,4,5,5,4,5,6
6,6,6,6,6,6,6,6,6,6,6,...,1,1,2,1,0,1,0,1,1,1
6,6,6,6,6,6,6,5,6,5,6,...,4,4,4,2,2,2,2,2,4,2
5,6,6,5,4,5,5,5,5,4,5,...,4,4,4,4,4,2,2,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,6,6,6,6,6,6,6,6,6,6,...,2,2,1,2,1,2,2,2,2,1
4,5,4,5,4,4,5,5,4,4,6,...,1,2,1,1,1,1,1,1,2,2
5,4,5,5,5,5,5,5,5,4,4,...,2,2,2,2,1,1,2,2,2,1
4,4,4,4,4,4,4,4,2,4,4,...,0,1,1,1,1,1,1,1,1,2
4,2,2,2,4,2,4,4,2,4,4,...,0,0,1,1,0,1,0,1,1,2

In [30]:
for i in pred:
    print(len(i.shape))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [11]:
model.evaluate(X_test_mas, y_test_mas_cat)

NameError: name 'y_test_mas_cat' is not defined

## Use NN, Regression

In [27]:
def init_model():
    model = models.Sequential()
    model.add(layers.LSTM(units=10, activation="tanh", input_shape=X_train1[0].shape))
    model.add(layers.Dense(25, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(15, activation="relu"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(1, activation="linear"))
    
    model.compile(loss="mse", optimizer="rmsprop", metrics=["mae"])
    
    return model

es = EarlyStopping(patience=5, restore_best_weights=True)

model = init_model()

history = model.fit(X_train1, y_train1, validation_data=(X_val1, y_val1),
                   batch_size=32, epochs=500, callbacks=[es], verbose=1)

Epoch 1/500
11/11 [==============================] - ETA: 0s - loss: 18.5822 - mae: 2.5993WARNING:tensorflow:Model was constructed with shape (None, 11949, 23) for input KerasTensor(type_spec=TensorSpec(shape=(None, 11949, 23), dtype=tf.float32, name='lstm_2_input'), name='lstm_2_input', description="created by layer 'lstm_2_input'"), but it was called on an input with incompatible shape (None, 500, 23).
11/11 [==============================] - 94s 8s/step - loss: 18.5822 - mae: 2.5993 - val_loss: 8.5096 - val_mae: 1.8106
Epoch 2/500
11/11 [==============================] - 97s 9s/step - loss: 15.1338 - mae: 2.2993 - val_loss: 6.4838 - val_mae: 1.5888
Epoch 3/500
11/11 [==============================] - 97s 9s/step - loss: 13.1380 - mae: 2.2128 - val_loss: 5.7391 - val_mae: 1.6026
Epoch 4/500
11/11 [==============================] - 99s 9s/step - loss: 12.1539 - mae: 2.2136 - val_loss: 5.6522 - val_mae: 1.6612
Epoch 5/500
11/11 [==============================] - 95s 9s/step - loss: 12.0194 - mae: 2.1952 - val_loss: 5.7457 - val_mae: 1.7392
Epoch 6/500
11/11 [==============================] - 96s 9s/step - loss: 11.5702 - mae: 2.1806 - val_loss: 5.9125 - val_mae: 1.8091
Epoch 7/500
11/11 [==============================] - 93s 9s/step - loss: 11.7046 - mae: 2.1764 - val_loss: 6.3349 - val_mae: 1.9509
Epoch 8/500
11/11 [==============================] - 89s 8s/step - loss: 11.5651 - mae: 2.1909 - val_loss: 6.2245 - val_mae: 1.9088
Epoch 9/500
11/11 [==============================] - 92s 8s/step - loss: 11.3347 - mae: 2.1598 - val_loss: 6.4903 - val_mae: 1.9488

## Use traditional machine learning

In [14]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression(solver='liblinear')

log_model.fit(X_train_mas[0], y_train_mas[0])
log_model.score(X_test_mas[0], y_test_mas[0])

0.387216059165346

In [15]:
y_train_mas[0]

array([1, 3, 3, ..., 5, 4, 4])

In [30]:
xgb = XGBClassifier(n_jobs=-1, objective="multi:softprob")
xgb.fit(X_train_mas[0], y_train_mas[0], eval_metric="auc")
xgb.score(X_test_mas[0], y_test_mas[0])

/home/johanpramono/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

0.38880084521922875

In [49]:
from sklearn.model_selection import cross_validate
import warnings
warnings.filterwarnings('ignore')

new_score = cross_validate(XGBClassifier(n_jobs=-1,verbosity = 0),X_train_mas[i], y_train_mas[i],cv=5,scoring=["neg_root_mean_squared_error","r2"])
new_score["test_neg_root_mean_squared_error"].mean()*-1, new_score["test_r2"].mean()

(1.2524036496854336, 0.42196648393001757)

In [47]:
new_score["test_accuracy"].mean(), new_score["test_r2"].mean()

(0.3322756582131132, 0.42196648393001757)

In [50]:
from xgboost import XGBClassifier, XGBRegressor
import warnings
warnings.filterwarnings('ignore')

result_reg = {}
result_class = {}
for i in range(350):
    new_score = cross_validate(XGBRegressor(n_jobs=-1,verbosity = 0),X_train_mas[i], y_train_mas[i],cv=5,scoring=["neg_root_mean_squared_error","r2"])
    result_reg[i] = (new_score["test_neg_root_mean_squared_error"].mean()*-1, new_score["test_r2"].mean())
    new_score = cross_validate(XGBClassifier(n_jobs=-1,verbosity = 0),X_train_mas[i], y_train_mas[i],cv=5,scoring=["accuracy","r2"])
    result_class[i] = (new_score["test_accuracy"].mean(), new_score["test_r2"].mean())
    print(f"completed {i}...")

completed 0...
completed 1...
completed 2...
completed 3...
completed 4...
completed 5...
completed 6...
completed 7...
completed 8...
completed 9...
completed 10...
completed 11...
completed 12...
completed 13...
completed 14...
completed 15...
completed 16...
completed 17...
completed 18...
completed 19...
completed 20...
completed 21...
completed 22...
completed 23...
completed 24...
completed 25...
completed 26...
completed 27...
completed 28...
completed 29...
completed 30...
completed 31...
completed 32...
completed 33...
completed 34...
completed 35...
completed 36...
completed 37...
completed 38...
completed 39...
completed 40...
completed 41...
completed 42...
completed 43...
completed 44...
completed 45...
completed 46...

KeyboardInterrupt:

In [57]:
from xgboost import XGBClassifier, XGBRegressor
import warnings
warnings.filterwarnings('ignore')

result_reg = {}
result_class = {}
for i in range(350):
    xgb = XGBClassifier(n_jobs=-1, verbosity=0)
    xgb.fit(X_train_mas[i], y_train_mas[i])
    result_class[i] = xgb.score(X_test_mas[i], y_test_mas[i])
    print(f"completed classifier {i}...")
    xgb = XGBRegressor(n_jobs=-1, verbosity=0)
    xgb.fit(X_train_mas[i], y_train_mas[i])
    result_reg[i] = xgb.score(X_test_mas[i], y_test_mas[i])
    print(f"completed regressor {i}...")

completed classifier 0...
completed regressor 0...
completed classifier 1...
completed regressor 1...
completed classifier 2...
completed regressor 2...
completed classifier 3...
completed regressor 3...
completed classifier 4...
completed regressor 4...
completed classifier 5...
completed regressor 5...
completed classifier 6...
completed regressor 6...
completed classifier 7...
completed regressor 7...
completed classifier 8...
completed regressor 8...
completed classifier 9...
completed regressor 9...
completed classifier 10...
completed regressor 10...
completed classifier 11...
completed regressor 11...
completed classifier 12...
completed regressor 12...
completed classifier 13...
completed regressor 13...
completed classifier 14...
completed regressor 14...
completed classifier 15...
completed regressor 15...
completed classifier 16...
completed regressor 16...
completed classifier 17...
completed regressor 17...
completed classifier 18...
completed regressor 18...
completed classifier 19...
completed regressor 19...
completed classifier 20...
completed regressor 20...
completed classifier 21...
completed regressor 21...
completed classifier 22...
completed regressor 22...
completed classifier 23...
completed regressor 23...
completed classifier 24...
completed regressor 24...
completed classifier 25...
completed regressor 25...
completed classifier 26...
completed regressor 26...
completed classifier 27...
completed regressor 27...
completed classifier 28...
completed regressor 28...
completed classifier 29...
completed regressor 29...
completed classifier 30...
completed regressor 30...
completed classifier 31...
completed regressor 31...
completed classifier 32...
completed regressor 32...
completed classifier 33...
completed regressor 33...
completed classifier 34...
completed regressor 34...
completed classifier 35...
completed regressor 35...
completed classifier 36...
completed regressor 36...
completed classifier 37...
completed regressor 37...
completed classifier 38...
completed regressor 38...
completed classifier 39...
completed regressor 39...
completed classifier 40...
completed regressor 40...
completed classifier 41...
completed regressor 41...
completed classifier 42...
completed regressor 42...
completed classifier 43...
completed regressor 43...
completed classifier 44...
completed regressor 44...
completed classifier 45...
completed regressor 45...
completed classifier 46...
completed regressor 46...
completed classifier 47...
completed regressor 47...
completed classifier 48...
completed regressor 48...
completed classifier 49...
completed regressor 49...
completed classifier 50...
completed regressor 50...
completed classifier 51...
completed regressor 51...
completed classifier 52...
completed regressor 52...
completed classifier 53...
completed regressor 53...
completed classifier 54...
completed regressor 54...
completed classifier 55...
completed regressor 55...
completed classifier 56...
completed regressor 56...
completed classifier 57...
completed regressor 57...
completed classifier 58...
completed regressor 58...
completed classifier 59...
completed regressor 59...
completed classifier 60...
completed regressor 60...
completed classifier 61...
completed regressor 61...
completed classifier 62...
completed regressor 62...
completed classifier 63...
completed regressor 63...
completed classifier 64...
completed regressor 64...
completed classifier 65...
completed regressor 65...
completed classifier 66...
completed regressor 66...
completed classifier 67...
completed regressor 67...
completed classifier 68...
completed regressor 68...
completed classifier 69...
completed regressor 69...
completed classifier 70...
completed regressor 70...
completed classifier 71...
completed regressor 71...
completed classifier 72...
completed regressor 72...
completed classifier 73...
completed regressor 73...
completed classifier 74...
completed regressor 74...
completed classifier 75...
completed regressor 75...
completed classifier 76...
completed regressor 76...
completed classifier 77...
completed regressor 77...
completed classifier 78...
completed regressor 78...
completed classifier 79...
completed regressor 79...
completed classifier 80...
completed regressor 80...
completed classifier 81...
completed regressor 81...
completed classifier 82...
completed regressor 82...
completed classifier 83...
completed regressor 83...
completed classifier 84...
completed regressor 84...
completed classifier 85...
completed regressor 85...
completed classifier 86...
completed regressor 86...
completed classifier 87...
completed regressor 87...
completed classifier 88...
completed regressor 88...
completed classifier 89...
completed regressor 89...
completed classifier 90...
completed regressor 90...
completed classifier 91...
completed regressor 91...
completed classifier 92...
completed regressor 92...
completed classifier 93...
completed regressor 93...
completed classifier 94...
completed regressor 94...
completed classifier 95...
completed regressor 95...
completed classifier 96...
completed regressor 96...
completed classifier 97...
completed regressor 97...
completed classifier 98...
completed regressor 98...
completed classifier 99...
completed regressor 99...
completed classifier 100...
completed regressor 100...
completed classifier 101...
completed regressor 101...
completed classifier 102...
completed regressor 102...
completed classifier 103...
completed regressor 103...
completed classifier 104...
completed regressor 104...
completed classifier 105...
completed regressor 105...
completed classifier 106...
completed regressor 106...
completed classifier 107...
completed regressor 107...
completed classifier 108...
completed regressor 108...
completed classifier 109...
completed regressor 109...
completed classifier 110...
completed regressor 110...
completed classifier 111...
completed regressor 111...
completed classifier 112...
completed regressor 112...
completed classifier 113...
completed regressor 113...
completed classifier 114...
completed regressor 114...
completed classifier 115...
completed regressor 115...
completed classifier 116...
completed regressor 116...
completed classifier 117...
completed regressor 117...
completed classifier 118...
completed regressor 118...
completed classifier 119...
completed regressor 119...
completed classifier 120...
completed regressor 120...
completed classifier 121...
completed regressor 121...
completed classifier 122...
completed regressor 122...
completed classifier 123...
completed regressor 123...
completed classifier 124...
completed regressor 124...
completed classifier 125...
completed regressor 125...
completed classifier 126...
completed regressor 126...
completed classifier 127...
completed regressor 127...
completed classifier 128...
completed regressor 128...
completed classifier 129...
completed regressor 129...
completed classifier 130...
completed regressor 130...
completed classifier 131...
completed regressor 131...
completed classifier 132...
completed regressor 132...
completed classifier 133...
completed regressor 133...
completed classifier 134...
completed regressor 134...
completed classifier 135...
completed regressor 135...
completed classifier 136...
completed regressor 136...
completed classifier 137...
completed regressor 137...
completed classifier 138...
completed regressor 138...
completed classifier 139...
completed regressor 139...
completed classifier 140...
completed regressor 140...
completed classifier 141...
completed regressor 141...
completed classifier 142...
completed regressor 142...
completed classifier 143...
completed regressor 143...
completed classifier 144...
completed regressor 144...
completed classifier 145...
completed regressor 145...
completed classifier 146...
completed regressor 146...
completed classifier 147...
completed regressor 147...
completed classifier 148...
completed regressor 148...
completed classifier 149...
completed regressor 149...
completed classifier 150...
completed regressor 150...
completed classifier 151...
completed regressor 151...
completed classifier 152...
completed regressor 152...

completed classifier 153...
completed regressor 153...
completed classifier 154...
completed regressor 154...
completed classifier 155...
completed regressor 155...
completed classifier 156...
completed regressor 156...
completed classifier 157...
completed regressor 157...
completed classifier 158...
completed regressor 158...
completed classifier 159...
completed regressor 159...
completed classifier 160...
completed regressor 160...
completed classifier 161...
completed regressor 161...
completed classifier 162...
completed regressor 162...
completed classifier 163...
completed regressor 163...
completed classifier 164...
completed regressor 164...
completed classifier 165...
completed regressor 165...
completed classifier 166...
completed regressor 166...
completed classifier 167...
completed regressor 167...
completed classifier 168...
completed regressor 168...
completed classifier 169...
completed regressor 169...
completed classifier 170...
completed regressor 170...
completed classifier 171...
completed regressor 171...
completed classifier 172...
completed regressor 172...
completed classifier 173...
completed regressor 173...
completed classifier 174...
completed regressor 174...
completed classifier 175...
completed regressor 175...
completed classifier 176...
completed regressor 176...
completed classifier 177...
completed regressor 177...
completed classifier 178...
completed regressor 178...
completed classifier 179...
completed regressor 179...
completed classifier 180...
completed regressor 180...
completed classifier 181...
completed regressor 181...
completed classifier 182...
completed regressor 182...
completed classifier 183...
completed regressor 183...
completed classifier 184...
completed regressor 184...
completed classifier 185...
completed regressor 185...
completed classifier 186...
completed regressor 186...
completed classifier 187...
completed regressor 187...
completed classifier 188...
completed regressor 188...
completed classifier 189...
completed regressor 189...
completed classifier 190...
completed regressor 190...
completed classifier 191...
completed regressor 191...
completed classifier 192...
completed regressor 192...
completed classifier 193...
completed regressor 193...
completed classifier 194...
completed regressor 194...
completed classifier 195...
completed regressor 195...
completed classifier 196...
completed regressor 196...
completed classifier 197...
completed regressor 197...
completed classifier 198...
completed regressor 198...
completed classifier 199...
completed regressor 199...
completed classifier 200...
completed regressor 200...
completed classifier 201...
completed regressor 201...
completed classifier 202...
completed regressor 202...
completed classifier 203...
completed regressor 203...
completed classifier 204...
completed regressor 204...
completed classifier 205...
completed regressor 205...
completed classifier 206...
completed regressor 206...
completed classifier 207...
completed regressor 207...
completed classifier 208...
completed regressor 208...
completed classifier 209...
completed regressor 209...
completed classifier 210...
completed regressor 210...
completed classifier 211...
completed regressor 211...
completed classifier 212...
completed regressor 212...
completed classifier 213...
completed regressor 213...
completed classifier 214...
completed regressor 214...
completed classifier 215...
completed regressor 215...
completed classifier 216...
completed regressor 216...
completed classifier 217...
completed regressor 217...
completed classifier 218...
completed regressor 218...
completed classifier 219...
completed regressor 219...
completed classifier 220...
completed regressor 220...
completed classifier 221...
completed regressor 221...
completed classifier 222...
completed regressor 222...
completed classifier 223...
completed regressor 223...
completed classifier 224...
completed regressor 224...
completed classifier 225...
completed regressor 225...
completed classifier 226...
completed regressor 226...
completed classifier 227...
completed regressor 227...
completed classifier 228...
completed regressor 228...
completed classifier 229...
completed regressor 229...
completed classifier 230...
completed regressor 230...
completed classifier 231...
completed regressor 231...
completed classifier 232...
completed regressor 232...
completed classifier 233...
completed regressor 233...
completed classifier 234...
completed regressor 234...
completed classifier 235...
completed regressor 235...
completed classifier 236...
completed regressor 236...
completed classifier 237...
completed regressor 237...
completed classifier 238...
completed regressor 238...
completed classifier 239...
completed regressor 239...
completed classifier 240...
completed regressor 240...
completed classifier 241...
completed regressor 241...
completed classifier 242...
completed regressor 242...
completed classifier 243...
completed regressor 243...
completed classifier 244...
completed regressor 244...
completed classifier 245...
completed regressor 245...
completed classifier 246...
completed regressor 246...
completed classifier 247...
completed regressor 247...
completed classifier 248...
completed regressor 248...
completed classifier 249...
completed regressor 249...
completed classifier 250...
completed regressor 250...
completed classifier 251...
completed regressor 251...
completed classifier 252...
completed regressor 252...
completed classifier 253...
completed regressor 253...
completed classifier 254...
completed regressor 254...
completed classifier 255...
completed regressor 255...
completed classifier 256...
completed regressor 256...
completed classifier 257...
completed regressor 257...
completed classifier 258...
completed regressor 258...
completed classifier 259...
completed regressor 259...
completed classifier 260...
completed regressor 260...
completed classifier 261...
completed regressor 261...
completed classifier 262...
completed regressor 262...
completed classifier 263...
completed regressor 263...
completed classifier 264...
completed regressor 264...
completed classifier 265...
completed regressor 265...
completed classifier 266...
completed regressor 266...
completed classifier 267...
completed regressor 267...
completed classifier 268...
completed regressor 268...
completed classifier 269...
completed regressor 269...
completed classifier 270...
completed regressor 270...
completed classifier 271...
completed regressor 271...
completed classifier 272...
completed regressor 272...
completed classifier 273...
completed regressor 273...
completed classifier 274...
completed regressor 274...
completed classifier 275...
completed regressor 275...
completed classifier 276...
completed regressor 276...
completed classifier 277...
completed regressor 277...
completed classifier 278...
completed regressor 278...
completed classifier 279...
completed regressor 279...
completed classifier 280...
completed regressor 280...
completed classifier 281...
completed regressor 281...
completed classifier 282...
completed regressor 282...
completed classifier 283...
completed regressor 283...
completed classifier 284...
completed regressor 284...
completed classifier 285...
completed regressor 285...
completed classifier 286...
completed regressor 286...
completed classifier 287...
completed regressor 287...
completed classifier 288...
completed regressor 288...
completed classifier 289...
completed regressor 289...
completed classifier 290...
completed regressor 290...
completed classifier 291...
completed regressor 291...
completed classifier 292...
completed regressor 292...
completed classifier 293...
completed regressor 293...
completed classifier 294...
completed regressor 294...
completed classifier 295...
completed regressor 295...
completed classifier 296...
completed regressor 296...
completed classifier 297...
completed regressor 297...
completed classifier 298...
completed regressor 298...
completed classifier 299...
completed regressor 299...
completed classifier 300...
completed regressor 300...
completed classifier 301...
completed regressor 301...

completed classifier 302...
completed regressor 302...
completed classifier 303...
completed regressor 303...
completed classifier 304...
completed regressor 304...
completed classifier 305...
completed regressor 305...
completed classifier 306...
completed regressor 306...
completed classifier 307...
completed regressor 307...
completed classifier 308...
completed regressor 308...
completed classifier 309...
completed regressor 309...
completed classifier 310...
completed regressor 310...
completed classifier 311...
completed regressor 311...
completed classifier 312...
completed regressor 312...
completed classifier 313...
completed regressor 313...
completed classifier 314...
completed regressor 314...
completed classifier 315...
completed regressor 315...
completed classifier 316...
completed regressor 316...
completed classifier 317...
completed regressor 317...
completed classifier 318...
completed regressor 318...
completed classifier 319...
completed regressor 319...
completed classifier 320...
completed regressor 320...
completed classifier 321...
completed regressor 321...
completed classifier 322...
completed regressor 322...
completed classifier 323...
completed regressor 323...
completed classifier 324...
completed regressor 324...
completed classifier 325...
completed regressor 325...
completed classifier 326...
completed regressor 326...
completed classifier 327...
completed regressor 327...
completed classifier 328...
completed regressor 328...
completed classifier 329...
completed regressor 329...
completed classifier 330...
completed regressor 330...
completed classifier 331...
completed regressor 331...
completed classifier 332...
completed regressor 332...
completed classifier 333...
completed regressor 333...
completed classifier 334...
completed regressor 334...
completed classifier 335...
completed regressor 335...
completed classifier 336...
completed regressor 336...
completed classifier 337...
completed regressor 337...
completed classifier 338...
completed regressor 338...
completed classifier 339...
completed regressor 339...
completed classifier 340...
completed regressor 340...
completed classifier 341...
completed regressor 341...
completed classifier 342...
completed regressor 342...
completed classifier 343...
completed regressor 343...
completed classifier 344...
completed regressor 344...
completed classifier 345...
completed regressor 345...
completed classifier 346...
completed regressor 346...
completed classifier 347...
completed regressor 347...
completed classifier 348...
completed regressor 348...
completed classifier 349...
completed regressor 349...

In [65]:
result_reg

{0: 0.5830805280810113,
 1: 0.5608390089723648,
 2: 0.7217781436632261,
 3: 0.557218700073665,
 4: 0.49037227765455543,
 5: 0.438486604951912,
 6: 0.47435006888668796,
 7: 0.49791264827922305,
 8: 0.2888416167341592,
 9: 0.468270207776293,
 10: 0.3261801195369014,
 11: -0.26559036306993655,
 12: 0.35782755125890375,
 13: 0.7724773857451804,
 14: 0.27653779365612885,
 15: 0.29152771005182493,
 16: 0.6129311987980954,
 17: 0.5030241908730047,
 18: 0.5868340216129728,
 19: 0.28174503731733647,
 20: 0.09527378369638095,
 21: 0.47404845940738877,
 22: 0.5050626560629056,
 23: 0.5051428444414566,
 24: 0.5152798004744827,
 25: 0.44657917439401495,
 26: 0.5070073937623374,
 27: 0.4439582941007355,
 28: 0.13694804401792182,
 29: 0.4281584455535802,
 30: 0.4675305441810975,
 31: 0.5261169149058884,
 32: 0.5217786273794609,
 33: 0.37423803471285544,
 34: 0.5237247298953646,
 35: 0.4431208791390388,
 36: 0.49317742433283307,
 37: -0.04835847430346862,
 38: 0.44370578229219737,
 39: 0.7974963055265135,
 40: 0.5284863726669959,
 41: 0.5688403163856246,
 42: 0.4891735765523918,
 43: 0.4842487927534559,
 44: 0.3279760117855568,
 45: 0.1988725220344688,
 46: 0.46873689905473975,
 47: 0.5655156857513588,
 48: 0.27864432518533755,
 49: 0.29707355507703215,
 50: 0.27630929460919507,
 51: 0.40527803518748645,
 52: 0.393029568909798,
 53: 0.27235891906617904,
 54: 0.4671655123298235,
 55: 0.21887631913366734,
 56: 0.5752251380527583,
 57: 0.025810315657002536,
 58: 0.5922223281921042,
 59: 0.6655934510645718,
 60: 0.4428834328825795,
 61: 0.5716607415891752,
 62: 0.6910583987682615,
 63: 0.265183620499884,
 64: 0.19590607669595114,
 65: 0.5411705249957182,
 66: 0.6982655942402949,
 67: 0.583767781305817,
 68: 0.6563207597995212,
 69: 0.4535379385890257,
 70: 0.27741536007247714,
 71: 0.13784833110721117,
 72: 0.30040594147839284,
 73: 0.11446555377975409,
 74: 0.3173419776744907,
 75: 0.11865717185384482,
 76: 0.5072214660488373,
 77: 0.4760763623827254,
 78: 0.15267830057059806,
 79: 0.12467859603585164,
 80: 0.4480562715291317,
 81: 0.517964230146118,
 82: 0.09144642906948419,
 83: 0.5124339353964447,
 84: 0.19517490728141784,
 85: 0.11401076831084966,
 86: 0.09904358462744789,
 87: 0.3961259333490733,
 88: 0.3364427436194576,
 89: 0.4518036094802649,
 90: 0.4701670592067973,
 91: 0.40064313469674695,
 92: 0.46099404481436457,
 93: 0.19339351417586534,
 94: 0.3835764517292479,
 95: 0.3922197560814309,
 96: 0.5440498656920854,
 97: 0.4262084691271004,
 98: 0.5820904778334799,
 99: 0.4225425667580257,
 100: 0.1905569022822582,
 101: 0.19685173452242077,
 102: 0.4248558579037729,
 103: 0.25998511465960317,
 104: 0.13574808741853928,
 105: 0.47145884354455364,
 106: 0.419781161718493,
 107: 0.2868064660963249,
 108: 0.4828477651300539,
 109: 0.1958352318778744,
 110: 0.08121945501545114,
 111: 0.28212298226698007,
 112: 0.5125269986066264,
 113: 0.20321363036638426,
 114: 0.23227359768338804,
 115: 0.16969281077794574,
 116: 0.1066856071720317,
 117: 0.5173238904276511,
 118: 0.43532199764480567,
 119: 0.47530315467640016,
 120: 0.4875226358835647,
 121: 0.36632328031006745,
 122: 0.47380397659194984,
 123: 0.635840997918385,
 124: 0.41256741101846256,
 125: 0.3089693527808983,
 126: 0.16780811130037998,
 127: 0.512375039456463,
 128: 0.5451715053703647,
 129: 0.6535654856522828,
 130: 0.565331992926926,
 131: 0.39948784744240123,
 132: 0.39002876588382873,
 133: 0.1844947446364359,
 134: 0.2911310920175758,
 135: 0.3798937954184014,
 136: 0.4930093220680095,
 137: 0.4991431499102941,
 138: 0.32352000111539436,
 139: 0.3986819223836202,
 140: 0.3741098724780286,
 141: 0.3013939004461874,
 142: 0.4280534924237638,
 143: 0.35207811162172997,
 144: 0.4282565345113053,
 145: -0.1476638490980582,
 146: 0.10976872581629737,
 147: 0.5315899511856604,
 148: 0.25458155842492936,
 149: 0.40089935353398615,
 150: 0.33865730272861927,
 151: 0.3131773063390957,
 152: 0.5521159689521304,
 153: 0.1708582183867866,
 154: 0.44957400554703525,
 155: 0.49024488192231114,
 156: 0.5287007430726667,
 157: 0.46020014485083005,
 158: 0.42997796937597355,
 159: 0.428194544195279,
 160: 0.5128922790418298,
 161: 0.4673909920200222,
 162: 0.4625885950114561,
 163: 0.3416129359776833,
 164: 0.3493233980652848,
 165: 0.32336426097350796,
 166: 0.3157547099503588,
 167: 0.3396604806429152,
 168: 0.471683064013898,
 169: 0.34459739026883496,
 170: 0.4944543970298133,
 171: 0.39895976338324535,
 172: 0.5032207444744916,
 173: 0.4211093966667976,
 174: 0.4071451317327048,
 175: 0.46963790888832035,
 176: 0.36198031744996306,
 177: 0.4828221922079531,
 178: 0.42652567240635475,
 179: 0.4957667622039605,
 180: 0.7437672901914201,
 181: 0.541263619675604,
 182: 0.268672927982037,
 183: 0.29006977495168407,
 184: 0.3766486769532369,
 185: 0.38892670390116346,
 186: 0.6969377362802271,
 187: 0.4420241580920008,
 188: 0.4614524918383094,
 189: 0.4072591686120444,
 190: 0.5042020327717462,
 191: 0.4543741221498406,
 192: 0.45730899582744433,
 193: 0.32795713732300635,
 194: 0.4470448568443826,
 195: 0.21474006815492708,
 196: 0.4443878551929765,
 197: 0.40468096421942773,
 198: 0.4742132522444005,
 199: 0.4652453188152954,
 200: 0.17511124225355534,
 201: 0.43092916559239225,
 202: 0.4665868090849534,
 203: 0.3420723378112479,
 204: 0.44353878299915694,
 205: 0.4416338994818763,
 206: 0.364276933848377,
 207: 0.3154227727948355,
 208: 0.7599559397333495,
 209: 0.8025555351100239,
 210: 0.5719210289018151,
 211: 0.3810410667574779,
 212: 0.526652151164186,
 213: -0.0374232071351388,
 214: 0.04528360376905349,
 215: 0.4647879846091503,
 216: 0.06273208007475295,
 217: 0.47055967500077667,
 218: 0.17226244962831117,
 219: 0.470945774564381,
 220: 0.34804099523763554,
 221: 0.400200737283782,
 222: 0.3782676896757827,
 223: 0.4578391625124227,
 224: 0.22278035412835429,
 225: 0.20797562721316876,
 226: 0.07552451094121804,
 227: 0.3520273099182918,
 228: 0.05160907211985999,
 229: 0.2074523218260339,
 230: 0.12196792985150806,
 231: 0.5172488053676201,
 232: 0.33444381894233033,
 233: 0.4830835814969118,
 234: 0.5255462022359108,
 235: 0.4540877123211563,
 236: 0.38057427407247857,
 237: 0.3313041014663026,
 238: 0.39134413799680107,
 239: 0.5240267469682354,
 240: 0.5384990823940472,
 241: 0.41408303065205015,
 242: 0.473169128940116,
 243: 0.5259163369651926,
 244: 0.4651211192620591,
 245: 0.5777120331537995,
 246: 0.6129227325184143,
 247: 0.4930882124721821,
 248: 0.05058184335137106,
 249: 0.16105747634407785,
 250: 0.49092690076655715,
 251: 0.11952127327650397,
 252: 0.5009521220217841,
 253: 0.4589920746535922,
 254: 0.5112942008895612,
 255: 0.6271823768240927,
 256: 0.22115024676635786,
 257: 0.4980724710812374,
 258: 0.542550917105628,
 259: 0.6203535863165188,
 260: 0.5664257293364869,
 261: 0.550550975873326,
 262: 0.6897197581837389,
 263: 0.4527778063425258,
 264: 0.4887993852075347,
 265: 0.34162277988945955,
 266: 0.6629310696950961,
 267: 0.33435818108201576,
 268: 0.3806072162945209,
 269: 0.4839327224944398,
 270: 0.4839327224944398,
 271: 0.4233242230246532,
 272: 0.3732956761541075,
 273: 0.6170657240013361,
 274: 0.3442214260873464,
 275: 0.4614468505431337,
 276: 0.6649010098589342,
 277: 0.46075948501078323,
 278: 0.4300572978476431,
 279: 0.37973537545385494,
 280: 0.49695232091731684,
 281: 0.46376986192465286,
 282: 0.056836191533020115,
 283: 0.5565213781087499,
 284: 0.5405036235406697,
 285: 0.5883740888308611,
 286: 0.2283918108922901,
 287: 0.055061339327034164,
 288: 0.5340063103286308,
 289: 0.39142865771885593,
 290: 0.3852745093042088,
 291: 0.1635618102882589,
 292: 0.10090640024901965,
 293: 0.4861138734447354,
 294: 0.3928082026218245,
 295: 0.462197899866961,
 296: 0.5433521722110545,
 297: 0.10593347170174572,
 298: 0.4418074746128204,
 299: 0.5572988577554365,
 300: 0.48930380077082625,
 301: 0.30983846371088586,
 302: 0.5858074823859802,
 303: 0.5741205762091548,
 304: 0.3164279930579833,
 305: 0.6397830517410733,
 306: -0.053629752377749806,
 307: 0.019514111649502012,
 308: 0.45158968331020966,
 309: 0.5648083966416321,
 310: 0.11712490236408901,
 311: 0.3986844744407517,
 312: 0.3131983866331465,
 313: 0.4098178286969365,
 314: 0.5723851381695803,
 315: 0.1333820044856684,
 316: 0.6606952745770814,
 317: 0.48251743980300843,
 318: 0.23090471421362402,
 319: 0.04775091362578666,
 320: 0.054996251433937264,
 321: 0.23135006063730745,
 322: 0.1747302399024405,
 323: 0.3521664126499898,
 324: 0.17081232621893946,
 325: 0.17844052899743124,
 326: 0.36466455106905993,
 327: 0.15670245456746557,
 328: 0.6474406996993576,
 329: 0.48416031391547554,
 330: 0.4049309500707363,
 331: 0.3311489098584475,
 332: 0.5108924416259695,
 333: 0.40959622736988016,
 334: 0.45459393160486583,
 335: 0.42591693208261433,
 336: 0.2982312041310885,
 337: 0.32423931825280283,
 338: 0.4323965780494448,
 339: 0.14639665642185162,
 340: 0.29687004449053545,
 341: 0.5552188873579413,
 342: 0.15890050487964136,
 343: 0.5347503369931104,
 344: 0.48593088137975815,
 345: 0.5574843459194069,
 346: 0.26192174435347515,
 347: 0.6061118374847434,
 348: 0.2100592881235962,
 349: 0.24624097603732442}

In [63]:
res = 0
for val in result_class.values():
    res += val
res / len(result_class)

0.43645913515961043

## Prediction Result

In [7]:
bqclient = bigquery.Client()

# Download query results.
query_string = """
select x.taxi_st_id,  substr(x.taxi_st_id,5) taxi_st_num,  x.taxi_count, x.taxi_update_time, x.weather_stn_id, c.rainfall, c.weather_update_time, x.mrt_stn_id, e.mrt_final_status, e.mrt_update_time
from (
select a.taxi_st_id, a.taxi_count, a.taxi_update_time, b.weather_stn_id, d.mrt_stn_id
from (
SELECT ts_id as taxi_st_id, taxi_count, cast(timestamp_trunc(timestamp, minute) as datetime) as taxi_update_time
FROM `taxi-compass-lewagon.api_dataset.h_taxi_stand_taxi_count`
WHERE timestamp > TIMESTAMP_add(CURRENT_TIMESTAMP() , INTERVAL 449 minute)
) a
left join
(
select weather_stn_id, taxi_st_id from `taxi-compass-lewagon.api_dataset.c_taxi_stand_weather_stn`
) b on a.taxi_st_id = b.taxi_st_id
left join 
(
select taxi_st_id, mrt_stn as mrt_stn_id from `taxi-compass-lewagon.api_dataset.c_mrt_stn_taxi_stand`
where mrt_stn is not null
) d on a.taxi_st_id = d.taxi_st_id
)x
left join 
(
select station_id as weather_stn_id, rainfall, datetime_trunc(datetime (update_time), minute) as weather_update_time
from `taxi-compass-lewagon.api_dataset.h_weather_rainfall`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 1 hour)
) c on x.weather_stn_id = c.weather_stn_id and x.taxi_update_time = c.weather_update_time
left join
(
select stn_id as mrt_stn_id, final_status as mrt_final_status, datetime_trunc(datetime (update_time), minute) as mrt_update_time 
from `taxi-compass-lewagon.api_dataset.h_mrt_status_availability`
where datetime(update_time) > datetime_SUB(CURRENT_DATETIME() , INTERVAL 1 hour)
) e on x.taxi_update_time = e.mrt_update_time and x.mrt_stn_id = e.mrt_stn_id
"""

taxi_df_pred = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
taxi_df_pred.head()

,taxi_st_id,taxi_st_num,taxi_count,taxi_update_time,weather_stn_id,rainfall,weather_update_time,mrt_stn_id,mrt_final_status,mrt_update_time
0,kml_1,1,0,2022-01-15 17:22:00,S118,NaN,NaT,None,NaN,NaT
1,kml_3,3,0,2022-01-15 17:22:00,S111,NaN,NaT,None,NaN,NaT
2,kml_4,4,0,2022-01-15 17:22:00,S118,NaN,NaT,None,NaN,NaT
3,kml_12,12,0,2022-01-15 17:22:00,S211,NaN,NaT,None,NaN,NaT
4,kml_13,13,0,2022-01-15 17:22:00,S226,NaN,NaT,None,NaN,NaT

In [8]:
def get_weekday(time):
    time = time.weekday()
    if time == 5 or time == 6:
        return 1
    return 0

df = taxi_df_pred[["taxi_st_num","taxi_update_time","taxi_count","rainfall","mrt_final_status"]].copy()
df["taxi_st_num"] = df["taxi_st_num"].astype('int64')
df = df.sort_values(by=["taxi_st_num", "taxi_update_time"],ascending=True).reset_index(drop=True)
df[["rainfall"]] = df[["rainfall"]].fillna(df.groupby(['taxi_st_num'])[["rainfall"]].ffill())
df[["mrt_final_status","rainfall"]] = df[["mrt_final_status","rainfall"]].fillna(value=0)
df = df.groupby(["taxi_st_num","taxi_update_time","taxi_count","rainfall"]).agg('min').reset_index().drop_duplicates(subset=["taxi_st_num","taxi_update_time"])
df = df.set_index(["taxi_st_num","taxi_update_time"])
df = df.groupby(level=0).apply(lambda x: x.reset_index(level=0, drop=True).asfreq("60S")).reset_index()
df[["taxi_count","rainfall","mrt_final_status"]] = df[["taxi_count","rainfall","mrt_final_status"]].fillna(df.groupby(['taxi_st_num'])[["taxi_count","rainfall","mrt_final_status"]].ffill())
df["hour"] = df["taxi_update_time"].dt.hour
df["minute"] = df["taxi_update_time"].dt.minute
df['hr_sin'] = np.sin(df["hour"]*(2.*np.pi/24))
df['hr_cos'] = np.cos(df["hour"]*(2.*np.pi/24))
df['min_sin'] = np.sin(df["minute"]*(2.*np.pi/60))
df['min_cos'] = np.cos(df["minute"]*(2.*np.pi/60))
df["taxi_update_time"] = df["taxi_update_time"].dt.tz_localize("Asia/Singapore")
df["weekend_bool"] = df.apply(lambda x : get_weekday(x["taxi_update_time"]), axis=1)
df

,taxi_st_num,taxi_update_time,taxi_count,rainfall,mrt_final_status,hour,minute,hr_sin,hr_cos,min_sin,min_cos,weekend_bool
0,1,2022-01-15 17:03:00+08:00,1,0.0,0.0,17,3,-0.965926,-0.258819,3.090170e-01,0.951057,1
1,1,2022-01-15 17:04:00+08:00,3,0.0,0.0,17,4,-0.965926,-0.258819,4.067366e-01,0.913545,1
2,1,2022-01-15 17:05:00+08:00,2,0.0,0.0,17,5,-0.965926,-0.258819,5.000000e-01,0.866025,1
3,1,2022-01-15 17:06:00+08:00,2,0.0,0.0,17,6,-0.965926,-0.258819,5.877853e-01,0.809017,1
4,1,2022-01-15 17:07:00+08:00,2,0.0,0.0,17,7,-0.965926,-0.258819,6.691306e-01,0.743145,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10495,350,2022-01-15 17:28:00+08:00,1,0.0,1.0,17,28,-0.965926,-0.258819,2.079117e-01,-0.978148,1
10496,350,2022-01-15 17:29:00+08:00,1,0.0,1.0,17,29,-0.965926,-0.258819,1.045285e-01,-0.994522,1
10497,350,2022-01-15 17:30:00+08:00,1,0.0,1.0,17,30,-0.965926,-0.258819,1.224647e-16,-1.000000,1
10498,350,2022-01-15 17:31:00+08:00,0,0.0,1.0,17,31,-0.965926,-0.258819,-1.045285e-01,-0.994522,1
10499,350,2022-01-15 17:32:00+08:00,1,0.0,1.0,17,32,-0.965926,-0.258819,-2.079117e-01,-0.978148,1

In [9]:
X_mas = np.array([])
X_mas_pred = pd.DataFrame()

bins = [0, 1, 2, 3, 4, 10000]
labels = [0, 1, 2, 3, 4]
for i in range(350):
    print(i+1,len(df.loc[df["taxi_st_num"] == i+1]), "started...")
    X = df.loc[df["taxi_st_num"] == i+1][["taxi_st_num","taxi_update_time","taxi_count", "rainfall","mrt_final_status",
                                          "weekend_bool","hr_sin","hr_cos","min_sin","min_cos"]].copy()
    for day in range(1,16):
        X[f"taxi_count_-{day}"] = X["taxi_count"].shift(day)
    X = X.dropna()
    X_pred = X[["taxi_st_num","taxi_update_time"]]
    
    X = X.drop(columns=["taxi_st_num","taxi_update_time"]).to_numpy()
    
    X = X.reshape(1, X.shape[0], X.shape[1])
    
    if len(X_mas) == 0:
        X_mas = X
        X_mas_pred = X_pred
    else:
        X_mas = np.vstack((X_mas, X))
        X_mas_pred = pd.concat([X_mas_pred, X_pred],ignore_index=True)

1 30 started...
2 30 started...
3 30 started...
4 30 started...
5 30 started...
6 30 started...
7 30 started...
8 30 started...
9 30 started...
10 30 started...
11 30 started...
12 30 started...
13 30 started...
14 30 started...
15 30 started...
16 30 started...
17 30 started...
18 30 started...
19 30 started...
20 30 started...
21 30 started...
22 30 started...
23 30 started...
24 30 started...
25 30 started...
26 30 started...
27 30 started...
28 30 started...
29 30 started...
30 30 started...
31 30 started...
32 30 started...
33 30 started...
34 30 started...
35 30 started...
36 30 started...
37 30 started...
38 30 started...
39 30 started...
40 30 started...
41 30 started...
42 30 started...
43 30 started...
44 30 started...
45 30 started...
46 30 started...
47 30 started...
48 30 started...
49 30 started...
50 30 started...
51 30 started...
52 30 started...
53 30 started...
54 30 started...
55 30 started...
56 30 started...
57 30 started...
58 30 started...
59 30 started...
60 30 started...
61 30 started...
62 30 started...
63 30 started...
64 30 started...
65 30 started...
66 30 started...
67 30 started...
68 30 started...
69 30 started...
70 30 started...
71 30 started...
72 30 started...
73 30 started...
74 30 started...
75 30 started...
76 30 started...
77 30 started...
78 30 started...
79 30 started...
80 30 started...
81 30 started...
82 30 started...
83 30 started...
84 30 started...
85 30 started...
86 30 started...
87 30 started...
88 30 started...
89 30 started...
90 30 started...
91 30 started...
92 30 started...
93 30 started...
94 30 started...
95 30 started...
96 30 started...
97 30 started...
98 30 started...
99 30 started...
100 30 started...
101 30 started...
102 30 started...
103 30 started...
104 30 started...
105 30 started...
106 30 started...
107 30 started...
108 30 started...
109 30 started...
110 30 started...
111 30 started...
112 30 started...
113 30 started...
114 30 started...
115 30 started...
116 30 started...
117 30 started...
118 30 started...
119 30 started...
120 30 started...
121 30 started...
122 30 started...
123 30 started...
124 30 started...
125 30 started...
126 30 started...
127 30 started...
128 30 started...
129 30 started...
130 30 started...
131 30 started...
132 30 started...
133 30 started...
134 30 started...
135 30 started...
136 30 started...
137 30 started...
138 30 started...
139 30 started...
140 30 started...
141 30 started...
142 30 started...
143 30 started...
144 30 started...
145 30 started...
146 30 started...
147 30 started...
148 30 started...
149 30 started...
150 30 started...
151 30 started...
152 30 started...
153 30 started...
154 30 started...
155 30 started...
156 30 started...
157 30 started...
158 30 started...
159 30 started...
160 30 started...
161 30 started...
162 30 started...
163 30 started...
164 30 started...
165 30 started...
166 30 started...
167 30 started...
168 30 started...
169 30 started...
170 30 started...
171 30 started...
172 30 started...
173 30 started...
174 30 started...
175 30 started...
176 30 started...
177 30 started...
178 30 started...
179 30 started...
180 30 started...
181 30 started...
182 30 started...
183 30 started...
184 30 started...
185 30 started...
186 30 started...
187 30 started...
188 30 started...
189 30 started...
190 30 started...
191 30 started...
192 30 started...
193 30 started...
194 30 started...
195 30 started...
196 30 started...
197 30 started...
198 30 started...
199 30 started...
200 30 started...
201 30 started...
202 30 started...
203 30 started...
204 30 started...
205 30 started...
206 30 started...
207 30 started...
208 30 started...
209 30 started...
210 30 started...
211 30 started...
212 30 started...
213 30 started...
214 30 started...
215 30 started...
216 30 started...
217 30 started...
218 30 started...
219 30 started...
220 30 started...
221 30 started...
222 30 started...
223 30 started...
224 30 started...
225 30 started...
226 30 started...
227 30 started...
228 30 started...
229 30 started...
230 30 started...
231 30 started...
232 30 started...
233 30 started...
234 30 started...
235 30 started...
236 30 started...
237 30 started...
238 30 started...
239 30 started...
240 30 started...
241 30 started...
242 30 started...
243 30 started...
244 30 started...
245 30 started...
246 30 started...
247 30 started...
248 30 started...
249 30 started...
250 30 started...
251 30 started...
252 30 started...
253 30 started...
254 30 started...
255 30 started...
256 30 started...
257 30 started...
258 30 started...
259 30 started...
260 30 started...
261 30 started...
262 30 started...
263 30 started...
264 30 started...
265 30 started...
266 30 started...
267 30 started...
268 30 started...
269 30 started...
270 30 started...
271 30 started...
272 30 started...
273 30 started...
274 30 started...
275 30 started...
276 30 started...
277 30 started...
278 30 started...
279 30 started...
280 30 started...
281 30 started...
282 30 started...
283 30 started...
284 30 started...
285 30 started...
286 30 started...
287 30 started...
288 30 started...
289 30 started...
290 30 started...
291 30 started...
292 30 started...
293 30 started...
294 30 started...
295 30 started...
296 30 started...
297 30 started...
298 30 started...
299 30 started...
300 30 started...
301 30 started...
302 30 started...
303 30 started...
304 30 started...
305 30 started...
306 30 started...
307 30 started...
308 30 started...
309 30 started...
310 30 started...
311 30 started...
312 30 started...
313 30 started...
314 30 started...
315 30 started...
316 30 started...
317 30 started...
318 30 started...
319 30 started...
320 30 started...
321 30 started...
322 30 started...
323 30 started...
324 30 started...
325 30 started...
326 30 started...
327 30 started...
328 30 started...
329 30 started...
330 30 started...
331 30 started...
332 30 started...
333 30 started...
334 30 started...
335 30 started...
336 30 started...
337 30 started...
338 30 started...
339 30 started...
340 30 started...
341 30 started...
342 30 started...
343 30 started...
344 30 started...
345 30 started...
346 30 started...
347 30 started...
348 30 started...
349 30 started...
350 30 started...

In [10]:
loaded_model = models.load_model('class_model')
loaded_model.predict(X_mas[0:1])
pred = np.argmax(loaded_model.predict(X_mas), axis=-1)
X_res = X_mas.reshape((X_mas.shape[0]*X_mas.shape[1],X_mas.shape[2]))
pred = pred.reshape((pred.shape[0]*pred.shape[1]))
X_mas_pred["timestamp_pred"] = X_mas_pred["taxi_update_time"].dt.tz_localize(None) + pd.to_timedelta(15, unit='m')
X_mas_pred["taxi_st_id"] = "kml_" + X_mas_pred["taxi_st_num"].astype("str")
X_mas_pred[["taxi_st_id","timestamp_pred"]]
y_res = pd.concat((X_mas_pred[["taxi_st_id","timestamp_pred"]], pd.DataFrame(pred, columns=["taxi_count_pred"])), axis=1)
y_res["minute"] = y_res.groupby(['taxi_st_id']).cumcount()+1
y_res = y_res[(y_res["minute"] == 5) | (y_res["minute"] == 10) | (y_res["minute"] == 15)].drop(columns="timestamp_pred").reset_index(drop=True)
y_res

WARNING:tensorflow:Model was constructed with shape (None, 10750, 23) for input KerasTensor(type_spec=TensorSpec(shape=(None, 10750, 23), dtype=tf.float32, name='dense_input'), name='dense_input', description="created by layer 'dense_input'"), but it was called on an input with incompatible shape (None, 15, 23).

     taxi_st_id  taxi_count_pred  minute
0         kml_1                1       5
1         kml_1                1      10
2         kml_1                4      15
3         kml_2                1       5
4         kml_2                1      10
...         ...              ...     ...
1045    kml_349                1      10
1046    kml_349                0      15
1047    kml_350                1       5
1048    kml_350                1      10
1049    kml_350                0      15

[1050 rows x 3 columns]

In [175]:
y_res["update_time"] = (datetime.datetime.now() + datetime.timedelta(hours=8)).strftime("%Y-%m-%d %H:%M:%S")
y_res

     taxi_st_id  taxi_count_pred  minute          update_time
0         kml_1                4       5  2022-01-15 23:38:40
1         kml_1                4      10  2022-01-15 23:38:40
2         kml_1                4      15  2022-01-15 23:38:40
3         kml_2                1       5  2022-01-15 23:38:40
4         kml_2                0      10  2022-01-15 23:38:40
...         ...              ...     ...                  ...
1045    kml_349                1      10  2022-01-15 23:38:40
1046    kml_349                1      15  2022-01-15 23:38:40
1047    kml_350                1       5  2022-01-15 23:38:40
1048    kml_350                1      10  2022-01-15 23:38:40
1049    kml_350                1      15  2022-01-15 23:38:40

[1050 rows x 4 columns]